/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

/*.container-12 .grid-2.region-content-menu {
    margin-right: 0px;
    width: 120px;
}

.container-12 .grid-7.region-content {
    margin-left: 0;
    padding: 0;
}*/