@charset "UTF-8";
/* Breakpoint mixins */
/* Size Functions */
/* Font Mixins */
/*----------  Miriam Font  ----------*/
@font-face {
  font-family: 'Miriam';
  src: url("../fonts/miriam/MiriamLibre-Regular.eot");
  src: url("../fonts/miriam/MiriamLibre-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/miriam/MiriamLibre-Regular.woff2") format("woff2"), url("../fonts/miriam/MiriamLibre-Regular.woff") format("woff"), url("../fonts/miriam/MiriamLibre-Regular.ttf") format("truetype"), url("../fonts/miriam/MiriamLibre-Regular.svg#MiriamLibre-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Miriam_Bold';
  src: url("../fonts/miriam/MiriamLibre-Bold.eot");
  src: url("../fonts/miriam/MiriamLibre-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/miriam/MiriamLibre-Bold.woff2") format("woff2"), url("../fonts/miriam/MiriamLibre-Bold.woff") format("woff"), url("../fonts/miriam/MiriamLibre-Bold.ttf") format("truetype"), url("../fonts/miriam/MiriamLibre-Bold.svg#MiriamLibre-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

/*----------  Awsome Font  ----------*/
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/FontAwesome.otf");
  src: url("../fonts/fontawesome-webfont.eot") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Layout */
/* Background Colors */
/* Fonts */
/* Borders */
/* Text Colors*/
/* Transitions */
.fit-content {
  width: fit-content; }

.block-title {
  font-family: "Miriam_Bold";
  font-size: 1.625rem;
  color: #0097d7;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 0.5em;
  line-height: 1.8; }

.block-title-side {
  position: absolute;
  z-index: 1;
  line-height: 46px;
  top: 0;
  left: 0; }

.sub-title {
  font-family: "Miriam_Bold";
  line-height: 1.3;
  letter-spacing: 0.01em;
  font-weight: normal;
  margin-bottom: 0.45em;
  color: #ff6600;
  font-size: 2.6875rem;
  font-size: 2.5rem;
  font-family: "Miriam";
  margin-bottom: 0; }

.title:not(h1) {
  font-family: "Miriam_Bold";
  font-size: 1.25rem;
  line-height: 1; }

.text-large {
  font-size: 1.875rem;
  font-family: "Miriam_Bold"; }

.text-medium {
  font-size: 1.25rem; }

.border-bottom {
  border-bottom: 1px solid #c0c0c0; }

.btn, a.btn {
  display: block;
  padding: 0 25px;
  background: #47206e;
  border: none;
  border-radius: 0;
  text-shadow: none;
  font-family: "Miriam";
  font-weight: normal;
  text-align: center;
  line-height: 35px;
  height: 35px;
  color: #fff;
  text-decoration: none;
  transition: all .3s; }
  .btn:not(:last-child), a.btn:not(:last-child) {
    padding-left: 10px; }
  .btn:hover, a.btn:hover {
    background: #ff6600; }
  .btn.third, a.btn.third {
    display: block;
    padding: 0 25px;
    background: #ff6600;
    border: none;
    border-radius: 0;
    text-shadow: none;
    font-family: "Miriam";
    font-weight: normal;
    text-align: center;
    line-height: 35px;
    height: 35px;
    color: #fff;
    text-decoration: none;
    transition: all .3s; }
    .btn.third:not(:last-child), a.btn.third:not(:last-child) {
      padding-left: 10px; }
    .btn.third:hover, a.btn.third:hover {
      background: #47206e; }
  .btn.fourth, a.btn.fourth {
    display: block;
    padding: 0 25px;
    background: #47206e;
    border: none;
    border-radius: 0;
    text-shadow: none;
    font-family: "Miriam";
    font-weight: normal;
    text-align: center;
    line-height: 35px;
    height: 35px;
    color: #fff;
    text-decoration: none;
    transition: all .3s; }
    .btn.fourth:not(:last-child), a.btn.fourth:not(:last-child) {
      padding-left: 10px; }
    .btn.fourth:hover, a.btn.fourth:hover {
      background: #0097d7; }
  .btn.fifth, a.btn.fifth {
    display: block;
    padding: 0 25px;
    background: #0097d7;
    border: none;
    border-radius: 0;
    text-shadow: none;
    font-family: "Miriam";
    font-weight: normal;
    text-align: center;
    line-height: 35px;
    height: 35px;
    color: #fff;
    text-decoration: none;
    transition: all .3s; }
    .btn.fifth:not(:last-child), a.btn.fifth:not(:last-child) {
      padding-left: 10px; }
    .btn.fifth:hover, a.btn.fifth:hover {
      background: #47206e; }

a.full-link, a:link.full-link, a:visited.full-link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.default-image {
  background-image: url("../images/default-square.jpg");
  background-size: cover;
  background-position: center center; }

.zoom-image {
  display: block;
  height: 100%;
  transform: scale(1);
  transition: transform 0.5s; }
  a:hover .zoom-image {
    transform: scale(1.05); }

.screen {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .screen.hover.arrow-next:after {
    content: "";
    font-size: 5rem;
    color: #fff;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translate(30px, 0);
    transition: all 0.5s; }
    a:hover .screen.hover.arrow-next:after {
      opacity: 1;
      transform: translate(0, 0); }
  .screen.hover {
    transition: background 0.5s; }
    a:hover .screen.hover.hover-3 {
      background: rgba(0, 151, 215, 0.4); }

.modal-bg {
  background: rgba(0, 0, 0, 0.45); }

.clean-list li {
  list-style: none; }

.comma-list .comma-item {
  display: inline; }
  .comma-list .comma-item:after {
    content: ", "; }
  .comma-list .comma-item:last-child:after {
    content: ""; }

ul.menu.icon-menu {
  display: flex; }
  ul.menu.icon-menu li {
    list-style: none;
    flex: 1;
    margin: 0;
    padding: 0; }
  ul.menu.icon-menu img, ul.menu.icon-menu svg {
    max-height: 25px;
    max-width: 45px; }

/*--------------*/
textarea {
  resize: none; }

.clean-btn {
  background: transparent;
  border: none;
  color: currentColor; }

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%; }

.template {
  display: none; }

.float-start {
  float: left; }

.float-end {
  float: right; }

.colored {
  background: #47206e; }
  .colored.second {
    background: #40c389; }
  .colored.third {
    background: #ff6600; }
  .colored.fourth {
    background: #c0c1c2;
    color: #545555; }
  .colored.fifth {
    background: #0097d7; }

.colored-text {
  color: #47206e; }
  .colored-text.second {
    color: #40c389; }
  .colored-text.third {
    color: #ff6600; }
  .colored-text.fourth {
    color: #c0c1c2; }
  .colored-text.fifth {
    color: #0097d7; }

.ltr {
  direction: ltr; }

.rtl {
  direction: rtl; }

.clear-both {
  clear: both; }

.small-content {
  margin-bottom: 40px; }

.site-block {
  margin-bottom: 20px;
  display: block; }

.site-block-top {
  margin-top: 20px;
  display: block; }

.field-block {
  margin-bottom: 15px;
  display: block; }

.field-block-top {
  margin-top: 15px;
  display: block; }

.inline-block {
  display: inline-block; }

.label-inline {
  display: inline; }

.logo-item {
  margin: 0 10px 10px 0; }

.english-text {
  font-family: Open Sans; }

.block-link {
  font-size: 0.625rem;
  text-align: center;
  line-height: 1.3;
  display: block;
  padding: 6px;
  color: #fff;
  max-width: 120px; }
  .block-link:hover {
    background: #545557;
    color: #fff; }
  .block-link.grey-link {
    background: #727476; }
    .block-link.grey-link:hover {
      background: #545557; }

/*----------  Flex Helpers  ----------*/
.flex, .flex-view .view-content {
  display: flex; }

.align-center, .flex-view.align-center .view-content {
  align-items: center; }

.justify-center, .flex-view.justify-center .view-content {
  justify-content: center; }

.justify-end, .flex-view.justify-end .view-content {
  justify-content: flex-end; }

.space-between, .flex-view.space-between .view-content {
  justify-content: space-between; }
  @media (max-width: 740px) {
    .space-between, .flex-view.space-between .view-content {
      justify-content: space-around; } }

.flex-full {
  flex: 1; }

.flex-wrap, .flex-view.flex-wrap .view-content {
  flex-wrap: wrap; }

.self-end, .flex-view.self-end .view-content {
  align-self: flex-end; }

.column, .flex-view.column .view-content {
  flex-direction: column; }

.flex-blocks {
  flex-wrap: wrap;
  color: #545555;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #c0c0c0; }
  .flex-blocks > * {
    display: block;
    min-width: 50%;
    flex: 1; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }
  .full-width .container-12, .full-width .container-12 .grid-12 {
    width: 100%;
    margin: 0; }

.view-filters {
  clear: both; }

a.more-link {
  margin: 0 5px; }

.info-link-container {
  position: fixed;
  bottom: 30px;
  right: 20px; }
  .info-link-container a.info-link {
    color: #fff;
    background: #4169e1;
    font-size: 1.875rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    transition: background 0.3s; }
    .info-link-container a.info-link:hover {
      text-decoration: none;
      background: #000; }

/*---------------- Groupings ------------------*/
.group-title {
  position: relative;
  margin: 50px 0 40px; }
  .group-title .group-line {
    border-bottom: 1px solid #545555;
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 0; }
  .group-title h3 {
    display: inline-block;
    font-size: 2.0625rem;
    font-family: "Miriam_Bold";
    background: #ece9e3;
    margin-bottom: 0;
    padding-left: 10px;
    z-index: 1;
    position: relative; }

/*----------------- Social Icons --------------*/
.block-social-share ul {
  display: flex; }
  .block-social-share ul li {
    flex: 0 0 30px;
    list-style: none;
    margin-left: 15px; }
  .block-social-share ul a {
    display: inline-block;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
    text-indent: -9999px; }
    .block-social-share ul a:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      text-indent: 0;
      color: #ece9e3;
      font-size: 0.875rem;
      background: #6d6e71;
      border-radius: 50%;
      line-height: 30px;
      text-align: center;
      transition: all .2s; }
    .block-social-share ul a:hover:before {
      background: #47206e;
      color: #fff; }
    .block-social-share ul a.social-share-facebook:before {
      content: '\f09a'; }
    .block-social-share ul a.social-share-googleplus:before {
      content: '\f0d5'; }
    .block-social-share ul a.social-share-linkedin:before {
      content: '\f0e1'; }
    .block-social-share ul a.social-share-pinterest:before {
      content: '\f231'; }
    .block-social-share ul a.social-share-twitter:before {
      content: '\f099'; }

/*------------Admin CSS---------*/
.admin-menu-processed {
  font-size: 12px !important; }

.tabs {
  margin-bottom: 25px; }

/*-------------Frame---------------------*/
body:before, body:after {
  content: "";
  position: fixed;
  background: #47206e;
  left: 0;
  right: 0;
  height: 10px; }

body:before {
  top: 0; }

body:after {
  bottom: 0; }

body {
  border-left: 10px solid #47206e;
  border-right: 10px solid #47206e; }

/*---------- Layout  ----------*/
.section-content {
  padding: 40px 0 20px; }
  .front .section-content {
    padding-bottom: 0; }

.zone-wrapper:not(.zone-footer-wrapper):not(.zone-contact-wrapper):not(.zone-header-wrapper) {
  margin-bottom: 20px; }

/*---------- Sidebar Layout  ----------*/
.sidebar-layout .region-content-inner {
  display: flex;
  flex-wrap: wrap; }
  .sidebar-layout .region-content-inner .tabs {
    flex: 0 0 100%; }
  .sidebar-layout .region-content-inner .sidebar {
    flex: 0 0 200px;
    margin-left: 30px; }
  .sidebar-layout .region-content-inner .block-main {
    flex: 1;
    overflow: hidden; }

.node-type-archive-page.sidebar-layout .region-content-inner > .block-system {
  display: none; }

/*---------- Full Width Layout  ----------*/
.full-width-text .block-main {
  max-width: 680px;
  margin: 0 auto; }

/*---------- User Bar ---------*/
.zone-user-wrapper {
  background: #d8d8d8;
  padding: 30px 0; }

/*---------- Preface Script ---------*/
.zone-preface-wrapper {
  background: #fff;
  padding: 30px 0; }

/*---------- Post Script ---------*/
.zone-postscript-wrapper {
  padding: 30px 0; }

/*---------- Back To Top Button ---------*/
#back-top {
  left: 35px;
  margin: 0px;
  bottom: 20px; }
  #back-top span#button {
    border-radius: 50%; }

/*---------- Login Page ---------*/
.page-user .section-content {
  color: #fff;
  background: rgba(0, 0, 0, 0.8) url(../images/bg-001.jpg) no-repeat;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/bg-001.jpg) no-repeat;
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/bg-001.jpg) no-repeat;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/bg-001.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/bg-001.jpg) no-repeat;
  background-size: cover;
  background-position: 50%; }

* {
  box-sizing: border-box; }

button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  outline: none; }

html {
  height: 100%;
  background: #47206e; }

body {
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 0;
  padding: 96px 0 10px;
  font: 1rem/1.5 "Miriam", Arial, Helvetica, sans-serif;
  color: #545555;
  background: #47206e; }
  body .page {
    background-color: #ece9e3; }

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #0097d7; }

::selection {
  color: #fff;
  background: #0097d7; }

a, a:link, a:visited {
  transition: all 0.3s; }
  .dark-bg a, .dark-bg a:link, .dark-bg a:visited {
    color: #fff;
    text-decoration: none; }
    .dark-bg a:hover:not(.btn), .dark-bg a:link:hover:not(.btn), .dark-bg a:visited:hover:not(.btn) {
      text-decoration: underline; }
  a.download-link, a:link.download-link, a:visited.download-link {
    display: inline-block;
    text-decoration: none;
    color: #545555;
    background-image: url(../images/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 17px;
    padding-left: 29px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Miriam";
  line-height: 1.3;
  letter-spacing: 0.01em;
  font-weight: bold;
  margin-bottom: 0.45em; }

h1, .bulletin-main-title, .main-title {
  font-family: "Miriam_Bold";
  line-height: 1.3;
  letter-spacing: 0.01em;
  font-weight: normal;
  margin-bottom: 0.45em;
  color: #ff6600;
  font-size: 2.6875rem;
  font-size: 2.5rem; }

h2 {
  line-height: 1.1;
  font-size: 1.625rem; }
  h2.block-title {
    font-family: "Miriam_Bold";
    font-size: 1.625rem;
    color: #0097d7;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 0.5em;
    line-height: 1.8; }
  .large-block-title h2.block-title {
    font-size: 2.5rem;
    color: #47206e;
    margin-bottom: 25px;
    border: none; }

h4 {
  font-size: 1rem; }

img {
  width: 100%;
  height: auto; }

button, select {
  cursor: pointer; }

button, .btn a {
  background: #47206e;
  color: #ff6600;
  font-size: inherit;
  font-family: inherit;
  border-radius: unset;
  border: none;
  text-shadow: none; }

small {
  font-size: 0.8125rem; }

ul,
fieldset {
  padding: 0;
  margin: 0; }

fieldset {
  border: none; }

abbr[title], acronym[title] {
  text-decoration: none; }

.time-default {
  direction: ltr; }

/*-----------Field Collections------------*/
.field-collection-container {
  border: none;
  margin: 0; }

.field-collection-view {
  padding: 0;
  margin: 0;
  border: none; }

.field-collection-view .entity-field-collection-item {
  margin-bottom: 15px; }

.form-item, .form-actions {
  margin: 0; }

.form-actions {
  text-align: end; }

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
  width: 100%;
  background: #fff;
  border: 1px solid #c0c0c0;
  font-family: "Miriam";
  line-height: 35px;
  height: 35px;
  color: #545555;
  padding: 0 10px; }
  textarea::placeholder, select::placeholder, input[type="date"]::placeholder, input[type="datetime"]::placeholder, input[type="datetime-local"]::placeholder, input[type="email"]::placeholder, input[type="month"]::placeholder, input[type="number"]::placeholder, input[type="password"]::placeholder, input[type="search"]::placeholder, input[type="tel"]::placeholder, input[type="text"]::placeholder, input[type="time"]::placeholder, input[type="url"]::placeholder, input[type="week"]::placeholder {
    color: #a4a4a4; }
  textarea:focus, select:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus {
    box-shadow: none; }

.dark-bg textarea, .dark-bg select, .dark-bg input[type="date"], .dark-bg input[type="datetime"], .dark-bg input[type="datetime-local"], .dark-bg input[type="email"], .dark-bg input[type="month"], .dark-bg input[type="number"], .dark-bg input[type="password"], .dark-bg input[type="search"], .dark-bg input[type="tel"], .dark-bg input[type="text"], .dark-bg input[type="time"], .dark-bg input[type="url"], .dark-bg input[type="week"], .page-user .section-content textarea, .page-user .section-content select, .page-user .section-content input[type="date"], .page-user .section-content input[type="datetime"], .page-user .section-content input[type="datetime-local"], .page-user .section-content input[type="email"], .page-user .section-content input[type="month"], .page-user .section-content input[type="number"], .page-user .section-content input[type="password"], .page-user .section-content input[type="search"], .page-user .section-content input[type="tel"], .page-user .section-content input[type="text"], .page-user .section-content input[type="time"], .page-user .section-content input[type="url"], .page-user .section-content input[type="week"] {
  border: none;
  background: transparent;
  color: #fff;
  font-family: "Miriam";
  font-size: 1.625rem;
  line-height: 30px;
  height: 30px;
  padding: 0;
  border-bottom: 2px solid #c0c1c2;
  margin-bottom: 25px; }
  .dark-bg textarea:focus, .dark-bg select:focus, .dark-bg input[type="date"]:focus, .dark-bg input[type="datetime"]:focus, .dark-bg input[type="datetime-local"]:focus, .dark-bg input[type="email"]:focus, .dark-bg input[type="month"]:focus, .dark-bg input[type="number"]:focus, .dark-bg input[type="password"]:focus, .dark-bg input[type="search"]:focus, .dark-bg input[type="tel"]:focus, .dark-bg input[type="text"]:focus, .dark-bg input[type="time"]:focus, .dark-bg input[type="url"]:focus, .dark-bg input[type="week"]:focus, .page-user .section-content textarea:focus, .page-user .section-content select:focus, .page-user .section-content input[type="date"]:focus, .page-user .section-content input[type="datetime"]:focus, .page-user .section-content input[type="datetime-local"]:focus, .page-user .section-content input[type="email"]:focus, .page-user .section-content input[type="month"]:focus, .page-user .section-content input[type="number"]:focus, .page-user .section-content input[type="password"]:focus, .page-user .section-content input[type="search"]:focus, .page-user .section-content input[type="tel"]:focus, .page-user .section-content input[type="text"]:focus, .page-user .section-content input[type="time"]:focus, .page-user .section-content input[type="url"]:focus, .page-user .section-content input[type="week"]:focus {
    border-color: #0097d7; }
  .dark-bg textarea::placeholder, .dark-bg select::placeholder, .dark-bg input[type="date"]::placeholder, .dark-bg input[type="datetime"]::placeholder, .dark-bg input[type="datetime-local"]::placeholder, .dark-bg input[type="email"]::placeholder, .dark-bg input[type="month"]::placeholder, .dark-bg input[type="number"]::placeholder, .dark-bg input[type="password"]::placeholder, .dark-bg input[type="search"]::placeholder, .dark-bg input[type="tel"]::placeholder, .dark-bg input[type="text"]::placeholder, .dark-bg input[type="time"]::placeholder, .dark-bg input[type="url"]::placeholder, .dark-bg input[type="week"]::placeholder, .page-user .section-content textarea::placeholder, .page-user .section-content select::placeholder, .page-user .section-content input[type="date"]::placeholder, .page-user .section-content input[type="datetime"]::placeholder, .page-user .section-content input[type="datetime-local"]::placeholder, .page-user .section-content input[type="email"]::placeholder, .page-user .section-content input[type="month"]::placeholder, .page-user .section-content input[type="number"]::placeholder, .page-user .section-content input[type="password"]::placeholder, .page-user .section-content input[type="search"]::placeholder, .page-user .section-content input[type="tel"]::placeholder, .page-user .section-content input[type="text"]::placeholder, .page-user .section-content input[type="time"]::placeholder, .page-user .section-content input[type="url"]::placeholder, .page-user .section-content input[type="week"]::placeholder {
    color: #fff; }

.dark-bg textarea, .page-user .section-content textarea {
  min-height: 130px; }

.dark-bg button, .dark-bg input[type="reset"], .dark-bg input[type="submit"], .dark-bg input[type="button"], .page-user .section-content button, .page-user .section-content input[type="reset"], .page-user .section-content input[type="submit"], .page-user .section-content input[type="button"] {
  font-family: "Miriam_Bold";
  font-size: 1rem;
  background: transparent;
  border: 1px solid #545555;
  border-radius: 0;
  padding: 0 40px;
  height: 30px;
  line-height: 30px;
  text-shadow: none;
  color: #fff;
  transition: all .2s; }
  .dark-bg button:hover, .dark-bg input[type="reset"]:hover, .dark-bg input[type="submit"]:hover, .dark-bg input[type="button"]:hover, .page-user .section-content button:hover, .page-user .section-content input[type="reset"]:hover, .page-user .section-content input[type="submit"]:hover, .page-user .section-content input[type="button"]:hover {
    background: #0097d7; }

/*------ Icons -------*/
.form-item-combine {
  position: relative; }
  .form-item-combine input {
    padding-left: 35px; }
  .form-item-combine::after {
    content: "";
    display: block;
    font-family: FontAwesome;
    line-height: 35px;
    padding: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    color: #a4a4a4;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.table table {
  border: none; }
  .table table tbody tr {
    border-bottom: 2px solid #c0c0c0; }
  .table table tr.options-row {
    border: none; }
    .table table tr.options-row td {
      padding-top: 30px; }
  .table table td, .table table th {
    padding: 10px 70px; }
  .table table td.first, .table table td.last {
    padding: 10px 0; }
  .table table td.button-column {
    min-width: 230px; }

/*----------------Main Slider Gallery-----------------*/
.main-slider {
  height: 400px;
  background: #000; }
  .main-slider .views-slideshow-cycle-main-frame {
    height: 400px;
    width: 100%; }
    .main-slider .views-slideshow-cycle-main-frame .views-slideshow-cycle-main-frame-row {
      width: 100% !important; }
  .main-slider .slide-row {
    height: 400px;
    width: 100%; }
  .main-slider .item-info-container {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    height: 100%; }
    body.full-width-text .main-slider .item-info-container {
      max-width: 680px; }
  .main-slider .item-info {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    max-width: 550px;
    padding-bottom: 50px; }
  .main-slider .show-date {
    display: inline-block;
    color: #40c389;
    font-size: 1.625rem;
    margin-bottom: 20px; }
  .main-slider h3 {
    font-size: 2.6875rem;
    color: #fff; }
  .main-slider a.btn {
    display: inline-block;
    padding: 0 25px; }

/*------Single Image-------*/
.header-background-image {
  height: 400px; }

/*-----------------Main Teasers Preview-----------------------*/
.teaser {
  display: flex;
  background: #fff;
  margin-bottom: 35px; }
  .teaser .teaser-image {
    flex: 0 0 385px; }
  .teaser .teaser-content {
    flex: 1; }
  .teaser .teaser-date {
    font-family: "Miriam_Bold";
    font-size: 1.375rem;
    color: #ff6600;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-bottom: 3px solid #eeebe6; }
    .teaser .teaser-date > div {
      flex: 1;
      border-left: 2px solid #eeebe6; }
      .teaser .teaser-date > div:last-child {
        border: none; }
  .teaser .teaser-info {
    flex: 1;
    overflow: hidden;
    padding: 20px 25px;
    color: #000; }

.teaser-square-view > .view-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .teaser-square-view > .view-content:after {
    content: "";
    flex: 0 0 300px; }
  @media (max-width: 740px) {
    .teaser-square-view > .view-content {
      justify-content: space-around; } }
  .teaser-square-view > .view-content .teaser-square-item {
    flex: 0 0 300px;
    background: #fff;
    margin-bottom: 20px; }
    .teaser-square-view > .view-content .teaser-square-item .teaser-square-image {
      display: block;
      overflow: hidden;
      position: relative;
      width: 300px;
      height: 300px; }
      .teaser-square-view > .view-content .teaser-square-item .teaser-square-image .default-image {
        background-image: url("../images/default-square.jpg"); }
    .teaser-square-view > .view-content .teaser-square-item .teaser-square-info {
      display: block;
      margin: 12px 12px 25px; }
    .teaser-square-view > .view-content .teaser-square-item a {
      text-decoration: none;
      color: inherit; }
      .teaser-square-view > .view-content .teaser-square-item a:hover {
        color: #0097d7; }

.teaser-large, a.teaser-large {
  display: block;
  text-decoration: none;
  color: #fff;
  padding-bottom: 45px;
  margin-bottom: 45px;
  border-bottom: 2px solid #c0c0c0; }
  .teaser-large .teaser-large-image, a.teaser-large .teaser-large-image {
    display: block;
    height: 400px;
    overflow: hidden;
    position: relative; }
    .teaser-large .teaser-large-image .default-image, a.teaser-large .teaser-large-image .default-image {
      background-image: url("../images/default-large.jpg"); }
    .teaser-large .teaser-large-image .teaser-large-info, a.teaser-large .teaser-large-image .teaser-large-info {
      position: absolute;
      padding: 30px 35px;
      bottom: 0; }
  .teaser-large .more-link, a.teaser-large .more-link {
    display: block;
    background: #0097d7;
    text-align: center;
    font-family: "Miriam_Bold";
    font-size: 1.25rem;
    line-height: 40px; }

/*-----------Filters------------*/
.views-exposed-form .views-exposed-widget {
  padding: 0 0 0 10px; }
  .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 0; }
  .views-exposed-form .views-exposed-widget input[type="submit"] {
    display: block;
    padding: 0 25px;
    background: #ff6600;
    border: none;
    border-radius: 0;
    text-shadow: none;
    font-family: "Miriam";
    font-weight: normal;
    text-align: center;
    line-height: 35px;
    height: 35px;
    color: #fff;
    text-decoration: none;
    transition: all .3s; }
    .views-exposed-form .views-exposed-widget input[type="submit"]:not(:last-child) {
      padding-left: 10px; }
    .views-exposed-form .views-exposed-widget input[type="submit"]:hover {
      background: #0097d7; }
    .views-exposed-form .views-exposed-widget input[type="submit"][name="op"] {
      display: block;
      padding: 0 25px;
      background: #474747;
      border: none;
      border-radius: 0;
      text-shadow: none;
      font-family: "Miriam";
      font-weight: normal;
      text-align: center;
      line-height: 35px;
      height: 35px;
      color: #fff;
      text-decoration: none;
      transition: all .3s; }
      .views-exposed-form .views-exposed-widget input[type="submit"][name="op"]:not(:last-child) {
        padding-left: 10px; }
      .views-exposed-form .views-exposed-widget input[type="submit"][name="op"]:hover {
        background: #0097d7; }

/*----------------custome pagers--------------------*/
.item-list .pager {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  margin: 40px 0; }
  .item-list .pager li {
    border: none; }
    .item-list .pager li a {
      font-family: "Miriam";
      font-weight: normal;
      font-size: 1.625rem;
      color: #47206e;
      background: none; }
      .item-list .pager li a:hover {
        color: #0097d7; }
    .item-list .pager li.pager-current {
      font-family: "Miriam";
      font-weight: normal;
      background: none;
      font-size: 1.625rem;
      color: inherit; }
  .item-list .pager .pager-next, .item-list .pager .pager-last, .item-list .pager .pager-previous, .item-list .pager .pager-first {
    position: static; }
    .item-list .pager .pager-next a, .item-list .pager .pager-last a, .item-list .pager .pager-previous a, .item-list .pager .pager-first a {
      display: inline-block;
      font-family: FontAwesome;
      font-size: 1.625rem;
      color: #47206e;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }

/* Components */
.main-menu-block ul.nice-menu {
  width: 100%;
  display: flex; }
  .main-menu-block ul.nice-menu > li {
    border: none;
    background: transparent;
    font-weight: bold; }
    .main-menu-block ul.nice-menu > li:hover {
      background: transparent; }
    .main-menu-block ul.nice-menu > li > a {
      padding: 0 0 0 40px;
      height: 86px;
      line-height: 86px;
      color: #545555;
      text-decoration: none; }
      .main-menu-block ul.nice-menu > li > a:hover {
        color: #47206e; }
        .main-menu-block ul.nice-menu > li > a:hover.nolink {
          cursor: default; }
      .main-menu-block ul.nice-menu > li > a:before {
        content: "";
        width: 0px;
        height: 36px;
        position: absolute;
        z-index: -1;
        background: #0097d7;
        transform: translate(0, 25px);
        transition: all 0.5s; }
      .main-menu-block ul.nice-menu > li > a:hover:before {
        width: 30px; }
    .main-menu-block ul.nice-menu > li.over > a {
      color: #47206e; }
      .main-menu-block ul.nice-menu > li.over > a:before {
        background: #ff6600;
        width: 30px; }
    .main-menu-block ul.nice-menu > li.over > ul {
      height: 220px; }
    .main-menu-block ul.nice-menu > li ul {
      display: flex !important;
      visibility: visible !important;
      height: 0;
      overflow: hidden !important;
      transition: all 0.5s;
      justify-content: center;
      position: fixed;
      top: 96px;
      width: 100%;
      background: #c0c1c2;
      border: none;
      border-left: 10px solid #47206e;
      border-right: 10px solid #47206e;
      display: flex; }
      body.admin-menu .main-menu-block ul.nice-menu > li ul {
        top: 121px; }
      .main-menu-block ul.nice-menu > li ul li {
        flex: 0 0 300px;
        margin: 25px 10px;
        padding: 0;
        text-align: center;
        font-size: 1rem;
        font-family: "Miriam";
        height: 170px;
        position: relative;
        background-color: #ff6600;
        background-repeat: no-repeat; }
        .main-menu-block ul.nice-menu > li ul li a {
          color: #fff;
          position: absolute;
          top: 0;
          display: block;
          width: 100%;
          text-decoration: none;
          padding-top: 135px;
          line-height: 35px; }
        .main-menu-block ul.nice-menu > li ul li.link_about {
          background-image: url("/sites/default/files/menu-images/menu_image_001.jpg"); }
        .main-menu-block ul.nice-menu > li ul li.link_staff {
          background-image: url("/sites/default/files/menu-images/menu_image_002.jpg"); }
        .main-menu-block ul.nice-menu > li ul li.link_education {
          background-image: url("/sites/default/files/menu-images/menu_image_001.jpg"); }
        .main-menu-block ul.nice-menu > li ul li.link_calendar {
          background-image: url("/sites/default/files/menu-images/menu_image_002.jpg"); }
        .main-menu-block ul.nice-menu > li ul li.link_events {
          background-image: url("/sites/default/files/menu-images/menu_image_001.jpg"); }
        .main-menu-block ul.nice-menu > li ul li.link_membership {
          background-image: url("/sites/default/files/menu-images/menu_image_002.jpg"); }

.side-menu .menu-block-wrapper {
  border-top: 2px solid #545555;
  border-bottom: 2px solid #545555; }
  .side-menu .menu-block-wrapper li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .side-menu .menu-block-wrapper a {
    text-decoration: none;
    display: block;
    padding: 5px 0;
    color: #0097d7; }
  .side-menu .menu-block-wrapper li:not(.expanded) a.active {
    background: url(../images/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 10px; }
  .side-menu .menu-block-wrapper > ul > li {
    font-size: 1.25rem;
    color: #0097d7; }
    .side-menu .menu-block-wrapper > ul > li:not(.last) {
      border-bottom: 1px solid #545555; }
    .side-menu .menu-block-wrapper > ul > li > ul > li {
      font-size: 0.875rem; }
      .side-menu .menu-block-wrapper > ul > li > ul > li a {
        padding: 3px 15px;
        color: #545555; }
        .side-menu .menu-block-wrapper > ul > li > ul > li a.active {
          color: #0097d7; }
        .side-menu .menu-block-wrapper > ul > li > ul > li a:hover {
          color: #0097d7; }

footer.section-footer {
  background: #47206e;
  color: #fff;
  padding: 30px 0 50px;
  border: none; }
  footer.section-footer .region-inner {
    display: flex;
    flex-wrap: wrap; }
  footer.section-footer .region-footer-first {
    margin-bottom: 50px; }
  footer.section-footer .footer-small {
    flex: 0 0 210px; }
    footer.section-footer .footer-small .block-inner {
      padding: 0 0 0 40px; }
  footer.section-footer .footer-large {
    flex: 1; }
  footer.section-footer a {
    color: #fff;
    text-decoration: none; }
    footer.section-footer a:hover {
      text-decoration: underline; }
  footer.section-footer small {
    color: rgba(255, 255, 255, 0.4); }
  footer.section-footer .footer-menu .content > ul.menu {
    display: flex; }
    footer.section-footer .footer-menu .content > ul.menu li {
      flex: 1;
      list-style: none;
      margin: 0;
      padding: 0; }
      footer.section-footer .footer-menu .content > ul.menu li ul ul {
        display: none; }
    footer.section-footer .footer-menu .content > ul.menu > li > a {
      font-size: 1.25rem;
      font-family: "Miriam_Bold"; }
  footer.section-footer .logo-img-link {
    width: 160px;
    padding-bottom: 10px; }

header .region-inner > div {
  padding-left: 25px; }
  header .region-inner > div:last-child {
    padding: 0; }

header .zone-menu {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  background: #ece9e3;
  border-top: 10px solid #47206e;
  border-left: 10px solid #47206e;
  border-right: 10px solid #47206e;
  font-size: 1.25rem; }
  body.admin-menu header .zone-menu {
    top: 25px; }

header .zone-header-wrapper .container-12, header .container-12 .grid-12 {
  margin: 0;
  width: 100%; }

header .region-menu-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
  padding: 10px; }
  header .region-menu-inner .main-menu-block {
    flex-grow: 1; }

header .logo-block {
  width: 210px;
  padding: 0 10px 0 0; }
  header .logo-block img {
    height: 50px; }

header .subscription-signup button {
  width: 200px;
  height: 66px; }

.page-header-image-block {
  font-size: 2.0625rem;
  color: #fff; }
  .page-header-image-block .header-background-image {
    background-image: url("../images/bg-001.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .page-header-image-block .main-title, .page-header-image-block h1 {
    margin-bottom: 0; }

.fc-state-highlight {
  background: transparent; }

.fc-header tr, tr:hover td, tr.even:hover td.active, tr.odd:hover td.active {
  background-color: transparent; }

.mini-calendar .view-content, .mini-calendar .attachment-after {
  flex: 0 0 455px; }

.mini-calendar .attachment-before {
  display: none; }

.mini-calendar table {
  border: none; }

.mini-calendar .fc-grid .fc-day-content {
  display: none; }

.mini-calendar .fc-header {
  background: #47206e;
  font-size: 2.0625rem;
  font-family: 'Miriam_Bold';
  color: #fff;
  height: 50px;
  line-height: 50px;
  margin: 0; }
  .mini-calendar .fc-header h2 {
    line-height: 50px;
    margin: 0;
    font-size: 1.5625rem; }
  .mini-calendar .fc-header .fc-button {
    line-height: 50px;
    height: 50px;
    border: none;
    border-radius: 0;
    margin: 0;
    background: none;
    text-shadow: none;
    box-shadow: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    padding: 0;
    transition: all 0.3s; }
    .mini-calendar .fc-header .fc-button.fc-button-next .fc-text-arrow {
      transform: rotate(225deg); }
    .mini-calendar .fc-header .fc-button:hover {
      background: #ff6600; }
    .mini-calendar .fc-header .fc-button .fc-text-arrow {
      display: block;
      width: 20px;
      height: 20px;
      margin: 0;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      transform: rotate(45deg);
      overflow: hidden;
      text-indent: 9999px; }

.mini-calendar .fc-content thead {
  height: 30px;
  line-height: 30px; }
  .mini-calendar .fc-content thead th {
    direction: rtl; }

.mini-calendar .fc-content tbody {
  color: #a4a4a4;
  font-size: 1.375rem;
  background: #fff; }

.mini-calendar .fc-widget-content {
  border-color: #a4a4a4; }

.mini-calendar thead th, .mini-calendar th {
  background: transparent;
  border: none;
  color: #545555; }

.mini-calendar tr.fc-week.fc-first td {
  border-top: 1px solid #a4a4a4; }

.mini-calendar td.fc-day {
  height: 60px;
  overflow: hidden;
  padding: 5px; }
  .mini-calendar td.fc-day > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .mini-calendar td.fc-day.fc-today .fc-day-number {
    border: 2px solid #0097d7;
    color: #0097d7;
    border-radius: 50%;
    height: 48px;
    width: 48px; }
  .mini-calendar td.fc-day.fc-today.opened .fc-day-number {
    border-color: #47206e;
    color: #47206e;
    box-shadow: none; }

.mini-calendar .fc-day-number {
  float: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.mini-calendar .fc-cell-event {
  cursor: pointer; }
  .mini-calendar .fc-cell-event .fc-day-number {
    background: #40c389;
    color: #fff; }
    .mini-calendar .fc-cell-event .fc-day-number:hover {
      color: #47206e; }
  .mini-calendar .fc-cell-event.opened .fc-day-number {
    box-shadow: inset 0 0 0 1px #47206e;
    color: #47206e; }

.mini-calendar .fc-event {
  display: none;
  height: 0; }

.flyout-container {
  display: none;
  background: #fff; }
  .flyout-container.opened {
    display: block; }
  .flyout-container .flyout-item:not(:first-child) {
    display: none; }
  .flyout-container .flyout-date {
    font-family: "Miriam_Bold";
    font-size: 1.375rem;
    color: #40c389;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-bottom: 3px solid #eeebe6; }
    .flyout-container .flyout-date > div {
      flex: 1;
      border-left: 2px solid #eeebe6; }
      .flyout-container .flyout-date > div:last-child {
        border: none; }
  .flyout-container .flyout_info {
    height: 190px;
    overflow: hidden;
    padding: 20px 25px; }

/* Pages */
/*------ Contact Zone -------*/
.home-contact h2.block-title {
  padding-right: calc( (100% - 940px) / 2 ); }

.home-contact .content {
  display: flex;
  background: #474747;
  color: #fff; }
  .home-contact .content > * {
    flex: 0 0 50%; }
  .home-contact .content .content-home-text {
    padding: 40px calc( (100% - 940px) / 2 ) 40px 0; }

/*------ Contact Page -------*/
.context-contact .section-content {
  padding: 140px 0 100px;
  background-image: url("../images/bg-001.jpg");
  background-size: cover;
  background-position: center center;
  color: #fff; }
  .context-contact .section-content .zone-content .block {
    width: 50%;
    float: right; }

/*------ Contact Zone -------*/
.staff-container {
  width: 720px; }
  .staff-container .staff-item {
    flex: 0 0 230px;
    margin: 0 0 20px 10px; }
    .staff-container .staff-item img {
      margin-bottom: 15px; }

/*------ Archive Pages -------*/
.archive-block .view-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .archive-block .view-content > * {
    width: 345px; }
