@charset "UTF-8";
/* Breakpoint mixins */
/* Size Functions */
/* Font Mixins */
/* Layout */
/* Background Colors */
/* Fonts */
/* Borders */
/* Text Colors*/
/* Transitions */
/*------------Admin Menu RTL Fix---------*/
.admin-menu-processed .dropdown li ul {
  right: auto !important; }

.admin-menu-processed .dropdown li li.expandable ul {
  margin: -20px 160px 0 0 !important; }

/*--------------------Global---------------------*/
.concert-num::before {
  content: "קונצרט מס' "; }

.block-title-side {
  right: auto;
  left: 0; }

a.download-link, a:link.download-link, a:visited.download-link {
  background-position: left center;
  padding: 0 0 0 29px; }

.season-prices tr > *:not(:last-child) {
  margin: 0 0 2px 2px; }

.download-btn.program-download a::after {
  content: "הורד/י את התכניה"; }

/*--------------------Layout------------------*/
.home-contact .content .content-home-text {
  padding: 40px calc( (100% - 940px) / 2 ) 40px 0; }

.sidebar-layout .region-content-inner .sidebar {
  margin: 0 0 0 30px; }

.side-menu .menu-block-wrapper li:not(.expanded) a.active {
  background-image: url(../images/arrow-left.svg);
  background-position: left center; }

footer.section-footer .footer-small .block-inner {
  padding: 0 0 0 40px; }

footer.section-footer .footer-menu .content > ul.menu li:not(:last-child) {
  padding: 0 0 0 15px; }

/*--------------------Calendar------------------*/
.fc-header {
  direction: rtl; }

.fc-header-left {
  text-align: right; }

.fc-header-right {
  text-align: left; }

.mini-calendar .fc-header .fc-button .fc-text-arrow {
  transform: rotate(45deg); }

.mini-calendar .fc-header .fc-button.fc-button-next .fc-text-arrow {
  transform: rotate(225deg); }
