/* This file will hold custome styles ffor the Fresh Paint Site by Asi Oren for the RTL content HEBREW. */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in custome.css will apply site-wide. */

/*-------------------Font Face--------------------*/


@font-face {
 font-family: 'Alef_Bold';
 src: url('../fonts/Alef-bold.eot');
 src: url('../fonts/Alef-bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Alef-bold.woff') format('woff'),  url('../fonts/Alef-bold.ttf') format('truetype'),  url('../fonts/Alef-bold.svg#alefbold') format('svg');
 font-weight: bold;
 font-style: normal;
}
 @font-face {
 font-family: 'Alef';
 src: url('../fonts/Alef-regular.eot');
 src: url('../fonts/Alef-regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Alef-regular.woff') format('woff'),  url('../fonts/Alef-regular.ttf') format('truetype'),  url('../fonts/Alef-regular.svg#alefregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'Meoded-Serif_OERegular';
 src: url('../fonts/meoded-serif_oeregular-webfont.eot');
 src: local('Meoded-Serif_OE'), local('MeodedSerifOERegular'), url('../fonts/meoded-serif_oeregular-webfont.woff') format('woff'), url('../fonts/meoded-serif_oeregular-webfont.svg#webfontz52fk1YS') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'Meoded-Serif_OEBold';
 src: url('../fonts/meoded-serif_oebold-webfont.eot');
 src: local('Meoded-Serif_OE'), local('MeodedSerifOEBold'), url('../fonts/meoded-serif_oebold-webfont.woff') format('woff'), url('../fonts/meoded-serif_oebold-webfont.svg#webfontV84eyLAy') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'PauzaFOT-Book';
 src: url('../fonts/pauzafot-book-webfont.eot');
 src: url('../fonts/pauzafot-book-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pauzafot-book-webfont.woff') format('woff'), url('../fonts/pauzafot-book-webfont.ttf') format('truetype'), url('../fonts/pauzafot-book-webfont.svg#pauzafot_bookregular') format('svg');
 font-weight: normal;
 font-style: normal;
}


/*------------Admin Menu RTL Fix---------*/

#admin-menu .dropdown li ul {
  right: auto;
}
#admin-menu .dropdown li li.expandable ul {
margin: -20px 160px 0 0 !important;
}

/*--------------------Global---------------------*/

html, body {
	height:100%; /* needed for footer min-height */
}
div.contextual-links-wrapper {
	z-index: 500;
}
body {
	font-family: Alef, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
#page {
	width: 940px;
	margin: 0 auto;
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
	position: relative;
	right: 34px;
	background-color: #fefdfb;
	box-shadow: 2px 0 15px #9C9C9C;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Alef, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #4b4b4b;
	font-size: 15px;
	clear: both;
	margin-bottom: 0.3em;
}
h1 a, h2 a {
	color: #ec1c24;
}
h1 {
	color: #ec1c24;
}

.float-start { float: right; } .float-end{ float: left; }

div.messages {
	margin: 0 0 20px 0;
}

#messages {
   margin: 0 170px 0 0;
}

a {
	color: #ec1c24;
	text-decoration:none;
}
a:hover {
	color:#6f6f6f;
}
p {
	margin-bottom: 1em;
}
strong {
    font-weight: normal;
	font-family: Alef_Bold;
}
input:focus, textarea:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 1px solid pink;
}
.label-inline {
	float:right;
}
#block-user-login {
	display:none;
}
#section-content {
	min-height: 530px;
}
.fresh-paint-block {
	margin-bottom: 30px;
}
.fresh-paint-region {
	margin: 25px 0 40px 0;
}
.half-block-first {
	float: right;
}
.half-block-second {
	float: left;
}
.dotted-gallery {
	padding: 8px 0;
	border-bottom: 1px dotted #A4AEB6;
	border-top: 1px dotted #A4AEB6;
}
.border-dotted {
	/*border-top: 2px dotted #A4AEB6;*/
	background-image: url(../images/border-dotted.gif);
	background-repeat:repeat-x;
}
.border-dotted-small {
	border-top: 1px dotted #A4AEB6;
}
.border-dotted-small-bottom {
	border-bottom: 1px dotted #A4AEB6;
}
#small-thumbs-block .attachment {
	clear: both;
	padding: 10px 0 30px 0;
}
.form-required {
	color: #6F6F6F;
}
/*-------------------------WEBFORMS--------------------------*/
.one-column .webform-one {
	background-color: #f4f2f0;
	margin: 0 0 0 30px;
	padding: 30px 15px 90px 15px;
	width: 269px;
	position:relative;
}
.webform-two .entity {
	margin-bottom: 1em;
}
label {
	font-weight: normal;
}
.webform-container-inline label {
	margin: 0;
}
.node-webform input[type="text"], .node-webform input[type="email"], .node-webform textarea {
	border: none;
	float: left;
	font-size: 12px;
	color: #6F6F6F;
	width: 180px;
	padding: 0 5px;
}
#region-content input[type="text"], #region-content input[type="email"] {
	height: 18px;
}
.form-textarea-wrapper textarea {
	width: 180px;
	padding: 5px;
}
#webform-component-message label {
	float:right;
}
.form-item {
	margin: 1.3em 0;
}
.webform-one .form-actions input , .pay-form .pay-form-send {
	right:229px;
	bottom: 22px;
	width: 48px;
	height: 48px;
	background-image:url('../images/circle-sprite.png');
	background-position: -300px 0;
	border-radius: 0px;
	text-shadow: none;
	font-size: 12px;
}

.pay-form .pay-form-send {
right: 285px;
bottom: 15px;
}

.webform-one #edit-actions input:hover , .pay-form .pay-form-send:hover {
	background-position: -300px -100px;
	color: white;
}
.field-name-field-webform-post-script {
	right: 0;
}
/*-------------------------HEADER ZONE--------------------------*/

/*------Main Menu Region---------*/

#region-menu {
	position:absolute;
	top:25px;
	background-color:#333;
	font-family: Alef;
}
.region-menu-inner {
    position: absolute;
    width: 85px;
    left: 504px;
    /*margin: 0 0 0 452px;*/
}

.number-block {
    right: 40px;
}

.region-menu-inner {
    margin: 0 0 0 452px;
}

.region-menu-inner ul {
    padding: 0 35px 0 0;
}

.region-menu-inner li a, .region-menu-inner li a:hover {
font-size: 13px;
width: 30px;
padding: 10px 7px 0 29px;
}
/*
.context-design-fair a.fresh-paint-tab, .fresh-paint-tab {
	padding: 10px 7px 0 0;
}

.region-menu-inner li a.active {
    padding: 10px 7px 0 17px;
}

.context-design-fair a.art-fair-tab, .region-menu-inner li a.art-fair-tab, .art-fair-tab:hover, .context-design-fair a.design-fair-tab, .region-menu-inner li a.design-fair-tab, .region-menu-inner li a.design-fair-tab:hover {
   padding: 18px 7px 0 0;
}
*/
.region-menu-inner li a.active, .region-menu-inner li a.design-fair-tab.active, .region-menu-inner li a.art-fair-tab.active, .region-menu-inner li.active-trail a.family-fair-tab, body.family-page a.family-fair-tab {
    padding: 10px 7px 0 46px;
}

*/
/*--------Logo and Date Region----------*/

.views-field-field-art-fair-logo-image, .header-logo {
	width: 90px;
	height: 90px;
	float: right;
	padding: 15px 0 0 4px;
}

.header-logo {
    float: right;	
	padding: 15px 0 0 4px;
}
.header-date {
	float: right;
	padding: 30px 120px 0 0;
	margin: 0 10px 0 0;
	line-height: 2.4em;
	
	background-image: url('../images/tagline_heb.gif');
    background-position: right bottom;
}

.context-design-fair .header-date {
	padding: 30px 15px 0 0;
}
/*-----Social media Region---------*/

.social-links {
/*
	margin: 14px 219px 10px 0;
	right: 7px;
	*/
    left: 38px;
    right: auto;
}

.social-links .content { position: static; }

.social-menu-link:link { float: left; }

/*-----------Search Region---------*/


#block-search-form {
	height:21px;
	width: 150px;
	float: left;
	border-top:1px solid #d8d7d6;
	border-bottom:1px solid #d8d7d6;
	text-align:left;
	position:relative;
	color: #999;
	font-size: 11px;
}
#edit-search-block-form--2 {
	line-height: 10px;
	border: none;
	background-color: transparent;
	width: 105px;
	height: 19px;
	font-family: Alef;
	font-size: 12px;
}
#block-search-form .form-actions input {
	right: 0;
	line-height: 21px;
	font-family: Alef;
	font-size: 13px;
	margin-right: 5px;
}
#block-search-form .form-actions input:hover {
	color: #4B4B4B;
}
/*---------Newsletter region----------*/

.newsletter-link-block {
	width: 104px;
	height: 23px;
	margin: 0 22px 0 0;
	float: left;
	line-height: 23px;
	text-align: center;
}
.newsletter-link {
	font-family: Alef;
}
/*---------Language region----------*/


#block-locale-language .active {
	display: none;
}
#block-locale-language, #block-block-15 {
	height:21px;
	width: 25px;
	float: left;
	border-top: 1px solid #D8D7D6;
	border-bottom: 1px solid #D8D7D6;
	text-transform: uppercase;
	line-height: 21px;
	text-align:center;
	font-size: 10px;
	line-height: 21px;
	font-weight: bold;
	margin-right: 22px;
}
#block-locale-language a {
	color: #4b4b4b;
}
#block-locale-language a:hover {
	color:#00dc00;
	text-decoration: none;
}

#block-block-16 {
	margin: 0 10px 0 0;
    float: left;
}
/*---------------breadcrumbs--------------*/

#breadcrumb a {
	color:#b6b6b6;
	text-decoration:none;
}
.breadcrumb li {
	margin: 0 0 0 0.5em;
}
#breadcrumb .last a {
	color:#4B4B4B;
}
#breadcrumb li:after {
	content:" >";/*font-family: PauzaFOT-Book;*/
}
#breadcrumb .last:after {
	content:none;
}
/*-------------------------CONTENT ZONE--------------------------*/

#region-preface-first, #region-postscript-first {
	margin: 0 171px 0 94px;
}
/*#region-content-galleries, #region-content-bulletins {
	margin-top: -27px;
}
*/
.region-content-inner {
	margin: 0 30px 0 77px;
}
.one-column .region-content-inner {
	margin: 0 30px 0 0;
}
.small-content {
	width: 420px;
}
.one-column .info-one {
	margin: 0 0 0 30px;
	padding-top: 30px;
	width: 269px;
}
.one-column .info-two {
	width: 423px;
}
.one-column .tabs ul {
	margin: 0 0 0 453px;
}

#section-content .small-thumbs-row a {
	margin: 10px 0 0 15px;
	float: right;
	line-height: 15px;
	font-size: 11px;
	font-family: Alef, Arial, Helvetica, sans-serif;
}
.small-thumbs-row img, .large-thumbs-row img {
	margin-bottom: 5px;
}
#section-content .small-thumbs-row a:hover, #section-content .large-thumbs-row a:hover {
	color: #ec1c24;
	font-weight: normal;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
}
#section-content .large-thumbs-row a {
	display: block;
	width: 171px;
	margin: 10px 0 0 18px;
	float: right;
	height: 150px;
	line-height: 15px;
	color: #b6b6b6;
	text-decoration: none;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
}
/*---------Teasers----------*/

.teaser-row {
	position: relative;
	clear:both;
	width: 675px;
}
.field-name-field-prize-field-collection .teaser-row {
	width: 470px;
	padding: 0 0 0 205px;
}
.teaser-row h2 {
	padding-top: 20px;
	font-size: 14px;
}
.teaser-row .group-left {
	width: 171px;
	margin: 0 0 0 34px;
}
.teaser-row .group-right {
	width: 360px;
	margin: 0 0 0 110px;
	padding: 0;
}
.top-link:link {
	top: 43px;
	right: 623px;
}
/*---------Sidebar Menu region----------*/

.region-content-menu-inner {
    position: relative;
    right: -15px;
    width: 110px;
}
#section-content .region-content-menu a {
	letter-spacing: 1px;
	font-weight: normal;
	font-family: Alef_Bold;
}
#section-content .region-content-menu ul ul a {
	font-family: Alef;
	font-size: 12px;
	line-height: 17px;
}
#section-content .region-content-menu a {
	padding: 0 5px 0 0;
}
#block-menu-menu-fair-manager-menu {
	border-top: 1px dotted #A4AEB6;
	margin-top: 20px;
	padding-top: 20px;
}
/*---------Bulletin Board region----------*/

.region-content-bulletins-inner {
	margin: 0 30px;
}
#section-content .region-content-bulletins a {
	text-decoration:none;
}
.grey-block {
	background-color: #f4f2f0;
}
.bulletin-block {
	margin-top: 55px;
	padding:15px;
	position: relative;
}
.bulletin-block h2 {
	width: 267px;
	height:34px;
	background-image:url('../images/block-headers-sprites.png');
	background-repeat:no-repeat;
	background-position: 0 0;
	position:absolute;
	top: -25px;
	right: 0;
	color: #FFF;
	font-size:14px;
	line-height: 26px;
	padding: 0 10px 0 0;
	font-weight: normal;
}
.community-block h2 {
	background-position: 0 -35px;
}
.salon-block h2 {
	background-position: 0 0;
}
.bulletin-field, .bulletin-field .important {
	/*border-top: 2px dotted #A4AEB6;*/
	background-image: url(../images/border-dotted-bulletin.gif);
	background-repeat:repeat-x;
}
.views-row-last .bulletin-field {
	border-bottom: none;
}

.bulletin-board .views-row-first .bulletin-field, .bulletin-board .views-row-first .bulletin-field .important {
	background-image:url('../images/line-long.gif');
}
.bulletin-board .views-row {
	position: relative;
}
.important, .regular {
	padding: 14px 10px 19px 15px;
	margin: 2px 0;
}
.bulletin-date {
	/*
	font-size: 12px;
	background-image:url('../images/more-arrow-2.png');
	background-repeat: no-repeat;
	background-position: left 0;
	*/
	padding-left: 4px;
	font-family: PauzaFOT-Book;
	font-size: 17px;
}
.bulletin-title {
	font-size: 14px;
	font-weight: normal;
	color: #4b4b4b;
	margin-bottom: 5px;
	margin-top: 1px;
	font-family: Alef;
}
.bulletin-title a {
	color:#4b4b4b;
}
.important {
	background-color: #deffde;
}
/*---------Content Galleries----------*/

.image-bullet-gallery .view-content {
	position: relative;
	overflow: hidden;
}
.image-bullet-gallery .views-field-title a {
	display:block;
	width: 816px;
	height: 100%;
	padding: 15px;
	position: absolute;
	top: 0;
	color:#FFF;
	background-image: url('../images/title-bg-pink.png');
	background-repeat: no-repeat;
	background-position: right top;
	right: -423px;
	transition: right 1s;
	-moz-transition: right 1s; /* Firefox 4 */
	-webkit-transition: right 1s; /* Safari and Chrome */
	-o-transition: right 1s; /* Opera */
}
.image-bullet-gallery .views-field-title a:hover {
	right: 0px;
}
.large-slideshow .views-slideshow-controls-bottom {
	width: 407px;
	position: absolute;
	z-index: 20;
	bottom: 0;
	left: 0;
	padding: 0 25px 15px 25px;
}
.mid-slideshow .views-slideshow-controls-bottom {
	width: 373px;
	position: absolute;
	z-index: 20;
	bottom: 0;
	left: 0;
	padding: 0 25px 15px 25px;
}
.small-slideshow .views-slideshow-controls-bottom {
	position: absolute;
	z-index: 20;
	bottom: 0;
	left: 0;
	padding: 0 25px 15px 25px;
}
.image-bullet-gallery .video-gallery-block .views-slideshow-controls-bottom {
	bottom: 215px;
	padding: 0;
}
.slideshow-bullet {
	float: left;
}


/*-------------------------FOOTER ZONE--------------------------*/


#zone-footer {
	text-align: left;
}
/*-------------------------PAGES--------------------------*/

.node-type-page .tabs {
/*display:none;*/
}
.view-view-administration-fair-content .views-row {
	width: 60px;
	margin: 0 0 0 15px;
	float: right;
}
/*---------Current Fair Pages----------*/

/*---------Inner Menu----------*/

#block-menu-menu-art-fair-categories, #block-menu-menu-art-fair-project-categories {
	position: relative;
	width: 228px;
	right: -66px;
}
#region-content-info li {
	width: 55px;
	height: 55px;
	float: right;
	margin: 0 0 0 21px;
	padding: 0;
	font-family: Alef;
	font-size: 12px;
	line-height: 12px;
}
#section-content .inner-menu:link, #section-content .inner-menu:visited, #section-content .small-circles a, #section-content .small-circles span {
	display: block;
	font-size: 12px;
	width: 55px;
	height: 35px;
	padding-top: 20px;
	color: #6F6F6F;
	text-align: right;
	text-decoration: none;
	background-image:url('../images/circle-sprite.png');
	background-position: -56px -100px;
}
#section-content .inner-menu:hover, #section-content .small-circles a:hover {
	color:#00dc00;
	background-position: -56px -200px;
}

.context-design-fair #section-content .inner-menu:hover, .context-design-fair #section-content .small-circles a:hover {
	background-position: -356px 0px;
}


#region-content-info .active-trail .inner-menu {
	color:#c9c9c9;
	background-position: -55px 0px;
	cursor: default;
}
.full-page-row {
	margin: 0 0 0 47px;
	padding-top: 30px;
	margin-bottom: 8px;
	min-height: 110px;
}
.large-circles a {
	display: block;
	position: absolute;
	width: 65px;
	height: 100%;
	z-index: 10;
	top: 0;
	background-image:url('../images/big-circles.gif');
	background-repeat: no-repeat;
	background-position: 542px 35px;
	padding: 34px 60px 0 550px;
	color: #6f6f6f;
	font-family: Alef;
	font-size: 15px;
	line-height:20px;
	font-weight: normal;
}
.circle-text {
	display: inline-block;
	padding-top: 25px;
}
.group-right-circles {
	position: relative;
	right: 205px;
}
.large-circles a:hover {
	color:#00dc00;
	background-position: -134px 35px;
}
/*
.project-98 .large-circles a:hover {
	background-position: -2025px 0;
}
.project-97 .large-circles a:hover {
	background-position: -1350px 0;
}
.project-96 .large-circles a:hover {
	background-position: -675px 0;
}
*/
.small-circles {
	display: table;
	width: 55px;
	height: 55px;
	float: right;
	margin: 0 0 0 31px;
	font-family:Alef;
}
/*
#section-content .small-circles a, #section-content .small-circles span {
	display: table-cell;
	width: 55px;
	height: 55px;
	vertical-align: middle;
	text-align: center;
	color: #6F6F6F;
	text-decoration: none;
	font-size: 12px;
	line-height: 16px;
}
*/
#views_slideshow_cycle_main_slideshow_node-default .views_slideshow_cycle_slide {
	right:0;
	top:0;
}
.info-item {
	clear:both;
}

#region-content-info {
	position: relative;
}
#region-content-info .key {
	display:none;
}
#region-content-info .previous, #region-content-info .next {
	float:right;
	width:22px;
	height: 16px;
	margin: 6px 0 0 16px;
}
#region-content-info .previous a, #region-content-info .next a {
	display: block;
	width:  22px;
	height: 16px;
	font-family: PauzaFOT-Book;
	font-size:24px;
	background-image: url('../images/circle-sprite.png');
	background-repeat:no-repeat
}
#region-content-info .previous a {
	background-position: -400px -250px;
}
#region-content-info .next a {
	background-position: -400px -200px;
}
.context-design-fair #region-content-info .previous a {
background-position: -400px -250px;
}
.context-design-fair #region-content-info .next a {
background-position: -400px -200px;
}
#region-content-info .previous a:hover {
	background-position: -300px -300px;
}
#region-content-info .next a:hover {
	background-position: -300px -350px;
}
.info-awards {
	position: absolute;
	top: 175px;
	width: 140px;
	margin: 25px 0;
	color: #ec1c24;
	padding-bottom:15px;
}
.info-awards a:before, .winner-info:before {
	content:"זוכה ";/*font-family: PauzaFOT-Book; */
}
.info-project-type {
	height: 55px;
}
#section-content .info-awards a {
	color: #ec1c24;
	text-decoration: none;
}
.info-email {
}
.info-sponsors-logos {
	width: 151px;
}
.info-sponsors-logos img {
	margin: 0 0 10px 10px;
}
.info-sponsor-logos {
	margin-top: 10px;
}
.info-sponsor-logos .label-inline {
	float:right;
}
.info-sponsor-logos span:after {
	content:" ";
}
.read-more:after {
	content:" >";/*font-family: PauzaFOT-Book; */
}
#section-content .read-more:link {
	text-decoration: none;
}
/*--------------Exhibitors Page-----------------*/

.center-blocks {
	margin: 0 92px;
}
.exhibitors-block {
	float: right;
	margin: 0 15px;
	margin-top: 25px;
}
/*--------------Colored Blocks-----------------*/

.colored-block .content {
	position: relative;
	overflow: hidden;
	width: 240px;
	height: 150px;
}
#section-content .colored-block .attachment a {
	right: -250px;
	font-family: Alef;
	font-size: 13px;
	line-height: 17px;
	word-spacing: 2px;
	padding: 15px 15px 20px 275px;
	background-position: 250px 0;
}
#section-content .colored-block .attachment a:hover {
	right: 0px;
}
#section-content .exhibitors-galleries .attachment a {
	background-position: 250px 0;
}
#section-content .exhibitors-projects .attachment a {
	background-position: 250px -150px;
}
#section-content .exhibitors-artists .attachment a {
	background-position: 250px -300px;
}
#section-content .exhibitors-video .attachment a {
	background-position: 250px -450px;
}
.edit-button {
	position: absolute;
	top: 9px;
	right: 375px;
	background-color: white;
	padding: 1px 10px;
}
.teaser-row .views-field-edit_node {
	margin-top: 6px;
	padding: 1px 10px;
	background-color: #f4f2f0;
	float: right;
}
.related-artists {
	padding: 0 3px;
}
.one-column .collaborators-page h1, .one-column .collaborators-page h2 {
	font-family: Alef_Bold;
	font-weight: normal;
}
.one-column .collaborators-page .teaser-row > a:last-child {
	float: left;
}

.large-circle {
	font-weight: normal;
	font-family: Alef_Bold;
	background-position:0 -400px;
	margin: 0 15px 0 0;
	font-size: 14px;
	line-height: 15px;
	padding: 15px 0 18px 0;
}
.large-circle:hover {
	color: white;
	background-position:-200px -400px;
}
#section-content .special .small-circles a {
	margin: 25px 15px 0 0;
	background-position: -20px -100px;
	width: 90px;
}
#section-content .special .small-circles a:hover {
	background-position: -20px -200px;
}
.salon-block .block-title-link {
	right: 145px;
}
.regulations {
	float:right;
}
.edit-button-publications {
    right: 245px;	
}
/*----------------------------Newsletter----------------------------*/

.i18n-he .newsletter img {
    float: right;
	margin: 5px 0 5px 10px;
}
#simplenews-confirm-removal-form #edit-actions input {
    margin: 0 0 0 15px;	
}
/*----------------------------Calendar----------------------------*/

/*---------titless------------*/

.ui-widget-header {
	font-family: Alef_Bold;
	font-weight: normal;
}

.ui-widget-header:before {
	content:" יום ";
}

.fc-event-default, .fc-event-default .fc-event-skin, .fc-event-default .fc-event-time, .fc-event-default a {
	font-family: Alef;
}

.fc-event-inner {
    position: relative;
	left: 5px;
}

/*----------------------------Calendar Day----------------------------*/

.calendar-supported {
    right: 607px;	
}

.calendar-day .field-collection-item-field-calendar-page-day {
   margin: 0 0 0 30px;
   float: right;
}

.calendar-date {
   font-family: Alef_Bold;
   font-weight: normal;
}

.calendar-date .date-display-single:before {
	word-spacing: normal;
   content:"יום ";	
}

.calendar-title, .calendar-lecturer {
	font-family: Alef_Bold;
   	font-weight: normal;
}

.calendar-lecturer:after {	
	font-family: Alef_Bold;
   	font-weight: normal;
}

.calendar-hour {
	color: #4b4b4b;
    font-weight: normal;
	font-family: Alef_Bold;
}

a.purchase-link {
	background-position: -200px -102px;
}

a.purchase-link:hover {
   background-position: -100px -102px;
}

a.purchase-link:active {
    background-position: 0 -102px;
}

a.purchase-link-2 {
	background-position: -400px -102px;
}

a.purchase-link-2:hover {
   background-position: -400px 0;
}

/*
.context-art-fair a.purchase-link {
	background-position: -200px -102px;
}

.context-art-fair a.purchase-link:hover {
    background-position: -100px -102px;
}

.context-art-fair a.purchase-link:active {
    background-position: 0 -102px;
}

.context-design-fair a.purchase-link {
    background-position: -200px -100px;
}

.context-design-fair a.purchase-link:hover {
    background-position: -100px -100px;
}

.context-design-fair a.purchase-link:active {
    background-position: 0 -100px;
}

*/
/*----------------------------ARCHIVE----------------------------*/

.archive-left {
   float: right;
   margin: 0 0 0 20px;
}

.archive-fair .archive-left {
   margin: 0 0 0 40px;
}

.archive-right {
float: right;
}

.archive-fair .archive-right {
margin: 0 0 0 30px;
}

.page-archive .container-20 .grid-12 {
   margin: 0 0 50px 20px;
}

.page-archive #region-preface-first {
margin: 0 171px 0 175px;
}

.page-archive .container-20 .grid-12 {
   margin: 0 0 50px 20px;
}

.page-archive .region-content-inner {
   margin: 0 30px 0 0;
}

.page-archive .view-grouping-header {
    font-size: 15px;
}

.page-archive .top-link:link {
   left: -15px;
   right: auto;
}

.sort-menu {
   right: auto;
   left: 0;
}

.sort-menu ul li.leaf {
   font-size: 14px;
   float: left;
   margin: 0 30px 0 0;
}

#region-content-info .archive-menu li a.active:before {
	margin: 0 -10px 0 0;
	left: inherit;
	right: -5px;
}

#region-content-info .archive-menu li {
font-size: 14px;
}

.page-archive .view-header h1, .page-archive .view-header h2, .page-archive .archive-title {
font-family: Alef_Bold, Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: 15px;
}

#region-content-info .archive-menu li a.active {
font-family: Alef_Bold;
}

.galleries-list {
margin-bottom: 10px;
}

.page-archive .archive-inner-title {
	font-size: 15px;
}

.page-archive h1.archive-inner-title {
    font-weight: normal;
	font-family: Alef_Bold
}

.page-archive h1.archive-inner-title:after {
   content: " / ";
   margin: 0 0 0 5px;
}

.page-archive .archive-fair h1.archive-inner-title:after {
   content: "";
   margin: 0;
}

.past-fair-view h3 {
   font-weight: normal;
   font-family: Alef_Bold;
}

body.node-type-exhibitor .ds-2col-stacked > .group-header, body.node-type-art-gallery .ds-2col-stacked > .group-header, body.page-art-fair-exhibitor .ds-2col-stacked > .group-header {
	margin: 0 0 15px 94px;
}

body.node-type-exhibitor .ds-2col-stacked > .group-left, body.node-type-art-gallery .ds-2col-stacked > .group-left, body.page-art-fair-exhibitor .ds-2col-stacked > .group-left {
  margin: 0 0 0 77px;
}

body.node-type-exhibitor .ds-2col-stacked > .group-right, body.node-type-art-gallery .ds-2col-stacked > .group-right, body.page-art-fair-exhibitor .ds-2col-stacked > .group-right {
  padding: 0 0 0 94px;
}

.exhibitors-links:before {
	content: "לעמוד צבע טרי של המציג/ים: ";
}

/*-----------------Family Update 3.8.2015--------------*/

/*---------GRIDS----------------*/

.grid-3-item { margin: 0 0 0 56px;}

#main-title-block:after {
    left: auto;
    right: 0;
}

/*-------------Main Page-------------------*/

.header-group-right-main, .header-group-right-gallery { float:left; }

.header-group-left-main, .header-group-left-gallery { float:right; }

/*------------Events Taxonomy Page---------------*/

.header-group-left-gallery { margin: 0 0 0 50px; }

/*----------filters-------*/

.family-main-filter .content { margin: 0 50px 0 0; }


/*-----------------Family Update 3.8.2015--------------*/

.family-page .region-content-menu-inner {
	width: 115px;
	position: relative;
	right: -15px;
}

.family-page .region-header-first { right: -28px; }

#section-content .region-content-menu a#family-purchase-link {
    padding: 19px 10px;
    line-height: 15px;
}

/*-----------------Main Pages-------------------------*/

.views-slideshow-controls-text > span.views-slideshow-controls-text-previous a { left: auto; right: 0; background-position: -65px -65px; }
.views-slideshow-controls-text > span.views-slideshow-controls-text-next a { right: auto; left: 0; background-position: 0 -65px; }

/*-----------------Masonry-------------------------*/

.masonry-item > div {
	margin: 0 0 30px 30px;
}