* {
  box-sizing: border-box;
}

button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  outline: none;
}

html { 
  height: 100%;
  // @include for-narrow-layout {
  //   font-size: 14px;
  // }
}

body {
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 0;
  padding: ($menu-height + 10px) 0 10px; 
  font: 1rem/1.5 $font-primary, Arial, Helvetica, sans-serif;
  color: $main-text-color;
	background-color: $main-color;
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: $highlite-color-3;
}

::selection {
    color: #fff;
    background: $highlite-color-3;
}

a, a:link, a:visited {
  // cursor: pointer;
  // color: currentColor;
  // text-decoration: none;
  // display: inline-block;
  // &:hover {
  //   color: #000;
  // }
  &.btn {
    display: block;
    text-align: center;
    line-height: 35px;
    color: #fff;
    text-decoration: none;
  }
}

h1, .bulletin-main-title, .main-title {
  line-height: 36px;
  padding: 10px 0;
  font-size: 1.5625rem;
  margin-bottom: 30px;
  font-weight: normal;
}

h2 {
  font-family: 'Miriam_Bold';
  line-height: 1.1;
  font-size: $font-h2;
  margin-bottom: 20px;
  font-weight: normal;

  &.block-title {
    font-size: rem(40px);
    color: $highlite-color-1;
    margin-bottom: 25px;
  }
}

h4 {
    font-size: rem(16px);
    margin-bottom: 5px;
}

button, select {
  cursor: pointer;
}

button {
  background: $highlite-color-1;
  color: $highlite-color-2;
  font-size: inherit;
  font-family: inherit;
  border-radius: unset;
  border: none;
  text-shadow: none;
}

small {
  font-size: $font-small;
}

strong {
  font-weight: normal;
  font-family: $font-bold;
}

ul,
fieldset {
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
}

abbr[title], acronym[title] {
    text-decoration: none;
}

.time-default {
  direction: ltr;
}