/*------ Contact Page -------*/

.context-contact .section-content {
    padding: 140px 0 100px;
    background-image: url('../images/bg-001.jpg');
    background-size: cover;
    background-position: center center;

    color: #fff;

    .zone-content-wrapper {
        z-index: 1;
        position: relative;
    }

    .zone-content .block:not(.main-search) {
        width: 50%;
        float: right;
    }

    &::after {
        content: "";
        @include screen(#000, 0.6);
    }
}