/*----------  Alef Font  ----------*/

@font-face {
    font-family: 'Miriam';
    src: url('../fonts/MiriamLibre-Regular.ttf');
}

@font-face {
    font-family: 'Miriam_Bold';
    src: url('../fonts/MiriamLibre-Bold.ttf');
}