/*----------------Main Slider Gallery-----------------*/

.main-slider {

    height: $header-height;

    .views-slideshow-cycle-main-frame {
        height: $header-height;
        width: 100%;
        .views-slideshow-cycle-main-frame-row {
            width: 100% !important;
        }
    }
    .slide-row {
        height: $header-height;
        width: 100%;
    }
}