.fit-content {
  width: fit-content;
}

// ------------- Block Helpers ------------- //

.block {
  display: block;
}

.relative {
  position: relative;
}

// ------------- Text Font Helpers ------------- //

.block-title {
  font-family: $font-bold;
  font-size: $font-h3;
  color: $highlite-color-3;
  border-bottom: $main-border;
  margin-bottom: 0.5em;
  line-height: 1.8;
  &.double, .double & {
    border-top: $main-border;
    font-size: rem(20px);
    padding: 10px 0;
    margin: 25px 0;
    line-height: 1;
  }
}

.block-title-side {
  position: absolute;
  z-index: 1;
  line-height: 46px;
  top: 0;
  left: 0;
}

.sub-title {
  @include main-title;
  font-family: $font-primary;
  margin-bottom: 0;
}

.font-primary {
  font-family: $font-primary;
}

.title:not(h1) {
  font-family: $font-bold;
  font-size: $font-h5;
  line-height: 1;
}

.text-large {
  font-size: rem(30px);
  font-family: $font-bold;
}

.text-medium {
  font-size: rem(20px);
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// ------------- Borders ------------- //

.border-bottom {
  border-bottom: $main-border;
}

// ------------- Links and Buttons ------------- //

@mixin button($default-background, $default-background-hover) {
  display: block;
  padding: 0 15px;
  background: $default-background;
  border: none;
  border-radius: 0;
  text-shadow: none;
  font-family: $font-primary;
  font-weight: normal;
  text-align: center;
  line-height: $form-item-height;
  height: $form-item-height;
  color: #fff;
  text-decoration: none;
  transition: all .3s;

  
  &:hover {
    background: $default-background-hover;
    // background: darken( $default-background, 10% );
  }
  
  &.limited-width {
    max-width: 230px;
    &:not(:last-child) {
      margin-left: $form-item-padding
    }
  }

  &.active {
    background: $secondary-color;
    cursor: default;
    &:hover {
      background: $secondary-color;
    }
  }

}

.btn, a.btn {
  @include button($highlite-color-1, $highlite-color-3);
  &.second {
    @include button($highlite-color-4, $highlite-color-3);
  }
  &.third {
    @include button($highlite-color-4, $highlite-color-3);
  }
  &.fourth {
    @include button($highlite-color-1, $highlite-color-3);
  }
  &.fifth {
    @include button($highlite-color-3, $highlite-color-1);
  }
}

.download-btn {
  img, .file-size { display: none }
  a {
    @include button($highlite-color-2, $highlite-color-1);
    max-width: 230px;
    position: relative;
    text-align: right;
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 10px;
      top: 10px;
      width: 15px;
      height: 15px;
      background: url(../images/download.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
  }
}

a, a:link, a:visited {

  &.full-link {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

// ------------- Images Helpers ------------- //

.default-image {
  background-image: url('../images/default-square.jpg');
  background-size: cover;
  background-position: center center;
  
  &.large-image {
    background-image: url('../images/default-large.jpg');
  }
}

.zoom-image {
  display: block;
  height: 100%;
  transform: scale(1);
  transition: transform $medium-transition;

  a:hover & {
    transform: scale(1.05);
  }
  
}

// ------------- Modal and Screens ------------- //

@mixin screen($background, $opacity) {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba($background, $opacity );
}

.screen {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  // &.hover.arrow-next:after {
  //   content: "";
  //   font-size: rem(80px);
  //   color: #fff;
  //   display: flex;
  //   height: 100%;
  //   justify-content: center;
  //   align-items: center;
  //   opacity: 0;
  //   transform: translate(30px, 0);

  //   transition: all $medium-transition;

  //   a:hover & {
  //     opacity: 1;
  //     transform: translate(0, 0);    
  //   }
  // }


  &.hover {
    transition: background $medium-transition;
    
    a:hover &.hover-3 {
      background: rgba($highlite-color-3, 0.4 );
    }
  }
}

.modal-bg {
  background: rgba(0, 0, 0, 0.45);
}

// ------------- Lists ------------- //

.clean-list {
  li {
    list-style: none;
  }
}

.comma-list .comma-item {
  display: inline;
  &:after {
    content: ", ";
  }
  &:last-child:after {
    content: "";
  }
}
ul.menu.icon-menu  {
  display: flex;
  li {
    list-style: none;
    flex: 1;
    margin: 0;
    padding: 0;
  }

  img, svg {
    max-height: 25px;
    max-width: 45px;
  }
}




/*--------------*/

textarea {
    resize: none;
}

.clean-btn {
  background: transparent;
  border: none;
  color: currentColor;
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.template {
  display: none;
}

.float-start {
  float: left;
}

.float-end {
  float: right;
}

.colored {
  background: $highlite-color-1;
  &.second {
    background: $highlite-color-4;
  }
  &.third {
    background: $highlite-color-2;
  }
  &.fourth {
    background: $secondary-color;
    color: $main-text-color;
  }
  &.fifth {
    background: $highlite-color-3;
  }
}

.colored-text {
  color: $highlite-color-1;
  &.second {
    color: $highlite-color-4;
  }
  &.third {
    color: $highlite-color-2;
  }
  &.fourth {
    color: $secondary-color;
  }
  &.fifth {
    color: $highlite-color-3;
  }
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.clear-both {
  clear: both;
}

.small-content {
  // font-size: $font-small;
  // line-height: $line-height-small;
  margin-bottom: 40px;
}

.site-block {
  margin-bottom: 20px;
  display: block;
}

.section-block {
  margin: 40px 0;
}

.site-block-top {
  margin-top: 20px;
  display: block; 
}

.field-block {
  margin-bottom: 15px;
  display: block;
}

.field-block-top {
  margin-top: 15px;
  display: block; 
}

.inline-block {
  display: inline-block;
}

.label-inline {
  display: inline;
}

.logo-item {
  margin: 0 10px 10px 0;
}

.english-text {
  font-family: Open Sans; 
}

.block-link {
  font-size: rem(10px);
  text-align: center;
  line-height: 1.3;
  display: block;
  padding: 6px;
  color: #fff;
  max-width: 120px;
  &:hover {
    background: #545557;
    color: #fff;
  }
  &.grey-link {
    background: #727476;
      &:hover {
      background: #545557;
    }
  }
}

/*----------  Flex Helpers  ----------*/

.flex, .flex-view .view-content {
  display: flex;
}

.align-center, .flex-view.align-center .view-content {
  align-items: center;
}

.justify-center, .flex-view.justify-center .view-content {
  justify-content: center;
}

.justify-end, .flex-view.justify-end .view-content {
  justify-content: flex-end;
}

.space-between, .flex-view.space-between .view-content {
  justify-content: space-between;
  @include for-mobile-layout {
    justify-content: space-around;
  }
}

.flex-full {
  flex: 1;
}

.flex-wrap, .flex-view.flex-wrap .view-content {
  flex-wrap: wrap;
}

.self-end, .flex-view.self-end .view-content {
  align-self: flex-end;
}

.column, .flex-view.column .view-content {
  flex-direction: column;
}

.flex-blocks {
  flex-wrap: wrap;
  color: $secondary-text-color;
  padding-bottom: 20px;
  margin-bottom: 20px;
  // border-bottom: $main-border;
  > * {
    display: block;
    min-width: 50%;
    flex: 1;
    padding-left: 20px;
  }
  
  &.col-3 {
    &::after {
      content: "";
      flex: auto;
    }
    > * {
      min-width: 33.333%;
    }
  } 
}

//----------//

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
  & .container-12, & .container-12 .grid-12 {
    width: 100%;
    margin: 0;
  }
}

.view-filters {
  clear: both;
}

a.more-link {
  margin: 0 5px;
}

.info-link-container {
    position: fixed;
    bottom: 30px;
    right: 20px;
    a.info-link {
      color: #fff;
      background: #4169e1;
      font-size: rem(30px);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      transition: background 0.3s;
      &:hover {
        text-decoration: none;
        background: #000;
      }
    } 
}

/*---------------- Groupings ------------------*/

h3.group-title {
  border-top: 2px solid $main-text-color;
  border-bottom: 2px solid $main-text-color;
  color: $highlite-color-3;
  font-family: $font-bold;
  padding: 8px 0;
}

.group-title {
  position: relative;
  margin: 50px 0 40px;
  .group-line {
    border-bottom: 1px solid $main-text-color;
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 0;
  }
  h3 {
    display: inline-block;
    font-size: $font-h2;
    font-family: $font-bold;
    background: $main-color;
    margin-bottom: 0;
    padding-left: 10px;
    z-index: 1;
    position: relative;
  }
}


/*----------------- Social Icons --------------*/

.block-social-share ul {

  display: flex;

  li {
    flex: 0 0 30px;
    list-style: none;
    margin-left: 15px;
  }

  a {

    display: inline-block;
    font-family: FontAwesome;
    font-size: inherit; // can't have font-size inherit on line above, so need to override
    text-rendering: auto; // optimizelegibility throws things off #1094
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
    text-indent: -9999px;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      text-indent: 0;
      color: $main-color;
      font-size: rem(14px);
      background: $background-color-001;
      border-radius: 50%;
      line-height: 30px;
      text-align: center;

      transition: all .2s;
    }
    &:hover:before {
      background: $highlite-color-1;
      color: #fff;
    }

    &.social-share-facebook:before {
      content: '\f09a';
    }
    &.social-share-googleplus:before {
      content: '\f0d5';
    }
    &.social-share-linkedin:before {
      content: '\f0e1';
    }
    &.social-share-pinterest:before {
      content: '\f231';
    }
    &.social-share-twitter:before {
      content: '\f099';
    }

  }

}

/*-------------------- Legend -------------------------*/

.legend .content {
  display: inline-flex;
  margin: 20px 0;
  > * {
    margin-left: 10px;
  }
}

.legend-block {
  width: 25px;
  height: 25px;
}
