.clean-list {
  list-style: none;
}

.comma-list .comma-item {
  display: inline;
  &:after {
    content: ", ";
  }
  &:last-child:after {
    content: "";
  }
}

button, select {
  cursor: pointer;
}

textarea {
    resize: none;
}

.clean-btn {
  background: transparent;
  border: none;
  color: currentColor;
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.template {
  display: none;
}

.float-start {
  float: left;
}

.float-end {
  float: right;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.clear-both {
  clear: both;
}

.small-content {
  // font-size: $font-small;
  // line-height: $line-height-small;
  margin-bottom: 40px;
}

.site-block {
  margin-bottom: 20px;
  display: block;
}

.site-block-top {
  margin-top: 20px;
  display: block; 
}

.inline-block {
  display: inline-block;
}

.label-inline {
  display: inline;
}

.logo-item {
  margin: 0 10px 10px 0;
}

.english-text {
  font-family: Open Sans; 
}

.block-link {
  font-size: rem(10px);
  text-align: center;
  line-height: 1.3;
  display: block;
  padding: 6px;
  color: #fff;
  max-width: 120px;
  &:hover {
    background: #545557;
    color: #fff;
  }
  &.grey-link {
    background: #727476;
      &:hover {
      background: #545557;
    }
  }
}

/*----------  Flex Helpers  ----------*/

.flex, .flex-view .view-content {
  display: flex;
}

.align-center, .flex-view.align-center .view-content {
  align-items: center;
}

.justify-center, .flex-view.justify-center .view-content {
  justify-content: center;
}

.justify-end, .flex-view.justify-end .view-content {
  justify-content: flex-end;
}

.space-between, .flex-view.space-between .view-content {
  justify-content: space-between;
  @include for-mobile-layout {
    justify-content: space-around;
  }
}

.flex-wrap, .flex-view.flex-wrap .view-content {
  flex-wrap: wrap;
}

.self-end, .flex-view.self-end .view-content {
  align-self: flex-end;
}

.column, .flex-view.column .view-content {
  flex-direction: column;
}

.full-height {
  height: 100%;
}

.view-filters {
  clear: both;
}

a.more-link {
  margin: 0 5px;
}

.info-link-container {
    position: fixed;
    bottom: 30px;
    right: 20px;
    a.info-link {
      color: #fff;
      background: #4169e1;
      font-size: rem(30px);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      transition: background 0.3s;
      &:hover {
        text-decoration: none;
        background: #000;
      }
    } 
}