/*------------Admin CSS---------*/

.admin-menu-processed {
    font-size: 12px !important;
}

.tabs {
    margin-bottom: 25px;
}

/*-------------Frame---------------------*/

body:before, body:after {
    content: "";
    position: fixed;
    background: $highlite-color-1;
    left: 0;
    right: 0;
    height: 10px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    border-left: 10px solid $highlite-color-1;
    border-right: 10px solid $highlite-color-1; 
}

/*---------- Layout  ----------*/

.section-content {
    padding: 40px 0 20px;
    .front & {
        padding-bottom: 0;
    }
}


.zone-wrapper:not(.zone-footer-wrapper):not(.zone-contact-wrapper) {
    margin-bottom: 20px;
}

/*---------- Sidebar Layout  ----------*/

.sidebar-layout .region-content-inner {
    display: flex;
    flex-wrap: wrap;

    .tabs {
        flex: 0 0 100%;
    }

    .sidebar {
        flex: 0 0 200px;
        margin-left: 30px; 
    }

    .block-main {
        flex: 1;
        overflow: hidden;
    }

}

/*---------- Preface Script ---------*/

.zone-preface-wrapper {
    background: #fff;
    padding: 30px 0;
}


/*---------- Post Script ---------*/

.zone-postscript-wrapper {
    padding: 30px 0;
}

/*---------- Back To Top Button ---------*/

#back-top {
    left: 35px;
    margin: 0px;
    bottom: 20px;
    span#button {
        border-radius: 50%;
    }
}

/*---------- Login Page ---------*/

.page-user .section-content {
    color: #fff;
    background-image: url('../images/bg-001.jpg');
}