/*------------Admin Menu---------*/

.admin-menu-processed {
  font-size: 12px !important;
}

/*-------------Frame---------------------*/

body:before, body:after {
    content: "";
    position: fixed;
    background: $highlite-color-1;
    left: 0;
    right: 0;
    height: 10px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    border-left: 10px solid $highlite-color-1;
    border-right: 10px solid $highlite-color-1; 
}

/*---------- Layout  ----------*/

.section-content {
    margin-top: 40px;
    padding-bottom: 20px;
}

.zone-wrapper:not(.zone-footer-wrapper) {
    margin-bottom: 20px;
}

/*---------- Preface Script ---------*/

.zone-preface-wrapper {
    background: #fff;
    padding: 30px 0;
}


/*---------- Post Script ---------*/

.zone-postscript-wrapper {
    padding: 30px 0;
}

/*---------- Back To Top Button ---------*/

#back-top {
    left: 35px;
    margin: 0px;
    bottom: 20px;
    span#button {
        border-radius: 50%;
    }
}