header {

    // .region-inner > div {
    //     padding-left: 25px;
    //     &:last-child {
    //         padding: 0;
    //     }
    // }

    .zone-menu {
        position: fixed;
        z-index: 100;
        width: 100%;
        top: 0;
        left: 0;
        background: $main-color;
        border-top: 10px solid $highlite-color-1;
        border-left: 10px solid $highlite-color-1;
        border-right: 10px solid $highlite-color-1;
        font-size: rem(20px);
        body.admin-menu & {
            top: 24px;
        }
    }

    .zone-header-wrapper .container-12, .container-12 .grid-12 {
        margin: 0;
        width: 100%;
    }

    .region-menu-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $menu-height;
        padding: 10px;

        .main-menu-block {
            flex-grow: 1;
        }
        a.btn {
            height: 65px;
            line-height: 65px;
            padding: 0 40px;
            color: $highlite-color-2;
            &:hover {
                color: #fff;
            }
        }
    }

    // Logo Link

    .logo-block {
        width: 210px;
        padding: 0 10px 0 0;
        img {
            height: 50px;
        }
    }

    // Subscription Signup Button

    .subscription-signup button {
        width: 200px;
        height: 66px;
    }

}

.page-header-image-block {
    font-size: $font-h2;
    color: #fff;
    .header-background-image {
        background-image: url('../images/bg-001.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .main-title, h1 {
        margin-bottom: 0;
    }
}