.main-search {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($highlite-color-1, 0.98);
    display: flex;
    justify-content: center;
    visibility: hidden;
    opacity: 0;

    transition: all .3s;

    .views-exposed-form .views-exposed-widget {
        padding: 0;
    }

    .views-exposed-widgets {
        display: flex;
    }

    .views-exposed-form .views-exposed-widget input[type="submit"] {
        height: 100px;
        line-height: 100px;
        background: transparent;
        display: inline-block;
        font-family: FontAwesome;
        font-size: rem(95px);
        color: $light-text-color;
        text-rendering: auto; // optimizelegibility throws things off #1094
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; 
        &:hover {
            color: #fff;
        }  
    }

    &.opened {
        opacity: 1;
        visibility: visible;
        .views-exposed-form {
            transform: translate(0, 0);
        }
    }

    .inner-block {
        margin-top: 95px;
        width: 940px;
    }

    h2.block-title {
        color: #fff;
        font-size: rem(33px);
        font-weight: normal;
        font-family: $font-primary;
        border: none;
        margin-bottom: 75px;
        // &::before {
        //     content: " ";
        //     font-size: rem(20px);
        //     display: inline-block;
        //     font-family: FontAwesome;
        //     text-rendering: auto; // optimizelegibility throws things off #1094
        //     -webkit-font-smoothing: antialiased;
        //     -moz-osx-font-smoothing: grayscale;            
        // }
    }

    .form-item-combine::after { display: none; }

    input[name='combine'] {
        color: #fff;
        background: transparent;
        border: none;
        // border-bottom: 1px solid #fff;
        font-size: rem(100px);
        height: 100px;
        line-height: 100px;
        padding: 0px;
    }

    .views-submit-button {
        padding: 15px 0;
        .views-exposed-widget input[type='submit'] {
            // @include button(rgba($highlite-color-2, 0.2), rgba($highlite-color-3, 0.2));
            // font-size: rem(20px);
            // display: inline-block;
            // font-family: FontAwesome;
            // text-rendering: auto; // optimizelegibility throws things off #1094
            // -webkit-font-smoothing: antialiased;
            // -moz-osx-font-smoothing: grayscale; 
            // height: 60px;
            // width: 60px;
            // border-radius: 50%;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // margin: 0 15px;
            display: block;
            width: 30px;
            height: 30px;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid #fff;
            border-left: 1px solid #fff;
            transform: rotate(45deg);
            background: transparent;
            overflow: hidden;
            text-indent: 9999px;
        }
    }


    .views-exposed-form {
        transition: all .3s;
        transform: translate(0, 100px);
    }

    .closeBtn {
        @include button(transparent, transparent);
        position: absolute;
        font-size: rem(40px);
        right:0 ;
        top: 0;
        cursor: pointer;
        padding: 27px 50px;
    }
}