.region-content-menu-inner {
    padding: 0 0 0 $side-padding;
    @include for-mobile-layout {
      .main-menu {
          display: none;
      }
    }
}
.region-content-menu {
    color: $light-color;
    .block-menu {
        border-top: 1px solid #4b4b4b
    }
}

ul.menu {
    li.leaf, li.collapsed, li.expanded {
        list-style-image: none;
        list-style-type: none;
        &.last {
            border-color: #4b4b4b;
        }
    }

    li {
        padding: 4px 0;
        margin: 0;
        border-bottom: 1px solid #e3e3e0;
        font-size: rem(13px);
        line-height: rem(22px);
        font-weight: bold;
        &.active-trail > a {
            background-color: #e3e3e0;
        }
        &.menu-seperator {
            border-top: 1px solid #4b4b4b;
            margin-top: 30px;
        }
        &.mobile-menu-item {
            display: none;
        }
        li {
            padding: 2px 0;
            font-size: rem(11px);
            margin: 0;
            border: none;
            font-weight: normal;
            a {
                line-height: 20px;
                &:hover {
                    background-color: #f1f1ee;
                    
                }
                &.active {
                    background-color: #f1f1ee;
                    // color: #fff;
                }
            }
        }
    }
    a {
        display: block;
        padding: 0 0 0 5px;
        &:hover {
            background-color: #e3e3e0;
        }
    }
}

/*---------------Responsive Mean Menu-----------------*/

.mean-container .mean-bar {
    position: fixed;
    z-index: 200;
    background: #fff;
    border-bottom: solid 1px #000;
    font-size: rem(14px);
}

.mean-container .mean-bar .mean-nav {
    width: 0;
    background: white;
    border-right: solid 1px #000;
    top: 51px;
    margin: 0;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: width ease-out 0.8s;
    &::-webkit-scrollbar { 
        display: none; 
    }
    ul {
        li {
            a {
                border-bottom: solid 1px #000;
                color: $light-color;
                text-align: start;
                &.mean-expand {
                    width: 100%;
                    height: 100%;
                    max-height: 43px;
                    // top: -1px;
                    box-sizing: border-box;
                    padding: 12px;
                    text-align: end;
                    &:hover {
                        background: transparent;
                        color: #000;
                    }
                }
                &[href$="purchase"] {
                    background: #ffa41e;
                    color: #fff;
                }
            }
        }
    }
}

.mean-container a.meanmenu-reveal {
    color: $light-color;
    span {
        background: $light-color;
    }
}

.mean-container.mean-menu-open .mean-bar .mean-nav {
    width: 80%;
}
