.main-menu-block {
    ul.nice-menu {
        width: 100%;
        display: flex;
        // justify-content: space-between;

        > li {
            border:none;
            background: transparent;
            font-weight: bold;
            // font-family: 'Miriam_Bold';
            // flex: 1;

            &.active-trail > a:before {
                width: 30px;
            }

            &:hover {
                background: transparent;
            }

            &.menu-3082 {
                ul li {
                    background-color: $highlite-color-4;
                }

                > a:before {
                    background: $highlite-color-4;
                }
            }

            > a {
                // background: green;
                padding: 0 0 0 40px;
                height: $menu-height;
                line-height: $menu-height;
                color: $secondary-text-color;
                text-decoration: none;
                // position: relative;

                &:hover {
                    color: $highlite-color-1;
                    // font-family: 'Miriam_Bold';
                    &.nolink {
                        cursor: default;
                    }
                }

                &:before {
                    content: "";
                    width: 0px;
                    height: $menu-height - 50px;
                    position: absolute;
                    z-index: -1;
                    background: $highlite-color-3;
                    transform: translate(0, 25px);
                    transition: all 0.5s;
                }

                // &.nolink:before {
                //     background: $highlite-color-3;
                // }

                &.active:before {
                    width: 30px;
                }

                &:hover:before {
                    width: 30px;
                }

            }

            // &.nolink.over > a {
            //     background: $highlite-color-2;
            // }

            &.over > a {

                color: $highlite-color-1;

                &:before {
                    // background: $highlite-color-3;
                    width: 30px;
                }
            }

            &.over > ul {
                height:  220px;
            }
            

            ul {

                display: flex !important;
                visibility: visible !important;

                height: 0;
                overflow: hidden !important;
                transition: all 0.5s;



                justify-content: center;
                position: fixed;
                top: $menu-height + 10px;
                width: 100%;
                background: $secondary-color;
                border: none;
                border-left: 10px solid #47206e;
                border-right: 10px solid #47206e;
                display: flex;
                body.admin-menu & {
                    top: $menu-height + 35px;
                }

                li {
                    flex: 0 0 300px;
                    margin: 25px 10px;
                    padding: 0;
                    text-align: center;
                    font-size: $font-base;
                    font-family: $font-primary;
                    height: 170px;
                    position: relative;
                    background-color: $highlite-color-3;
                    background-repeat: no-repeat;

                    a {
                        color: #fff;
                        position: absolute;
                        top: 0;
                        display: block;
                        width: 100%;
                        text-decoration: none;
                        padding-top: 135px;
                        line-height: 35px;
                    }

                    &.link_about { background-image: url('/sites/default/files/menu-images/dd_001.jpg'); }

                     &.link_staff { background-image: url('/sites/default/files/menu-images/dd_002.jpg'); }
                    
                    &.link_education { background-image: url('/sites/default/files/menu-images/dd_003.jpg'); }   

                    &.link_calendar { background-image: url('/sites/default/files/menu-images/dd_004.jpg');  }
                    
                    &.link_events { background-image: url('/sites/default/files/menu-images/dd_005.jpg'); }

                    &.link_membership { background-image: url('/sites/default/files/menu-images/dd_006.jpg'); }


                    &.link_images { background-image: url('/sites/default/files/menu-images/dd_007.jpg');  }
                    
                    &.link_videos { background-image: url('/sites/default/files/menu-images/dd_008.jpg'); }

                    &.link_sounds { background-image: url('/sites/default/files/menu-images/dd_009.jpg'); }
                    

                }
            }

        }
    }
}