// Side Menu

.side-menu .menu-block-wrapper {

    border-top: 2px solid $main-text-color;
    border-bottom: 2px solid $main-text-color;

    ul.menu ul.menu {
        margin-bottom: 10px;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        display: block;
        padding: 5px 0;
        color: $highlite-color-3;
    }

    li:not(.expanded) a.active {
            background: url(../images/arrow-left.svg);
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 10px;
    }

    > ul > li {
        font-size: $font-h5;
        color: $highlite-color-3;

        &:not(.last) {
            border-bottom: 1px solid $main-text-color;
        }

        > ul > li {
            font-size: rem(14px);

            a {
                padding: 3px 15px;
                color: $main-text-color;
                &.active {
                    color: $highlite-color-3;
                }
                &:hover {
                    color: $highlite-color-3;
                }
            }
        }
    }

}

// Button Menu

.button-menu ul.menu {
    display: flex;
    li {
        list-style: none;
        padding: 0;
        margin: 0;
        flex: 0 0 170px;

        &:not(:last-child) {
            margin-left: 20px;
        }

        a {
            @include button($highlite-color-1, $highlite-color-3);
        }
    }
}

// Title Menu

.title-menu {
    position: absolute;
    top: 8px;
    left: 0;
    ul.menu {
        justify-content: flex-end;
    }
}

// Responsive Menu

.mean-container {
    .mean-bar, .mean-nav {
       background: $highlite-color-1;
       z-index: 99;
    }
    .mean-nav ul li a {
        text-align: right;
        &.mean-expand {
            right: auto;
            left: 0;
            height: 27px;
            background: transparent;
            border: none !important;
            padding: 18px 12px !important;
            &:hover {
                background: transparent;
            }
        }
        &:hover {
            background: transparent;
        }
    }
}