/*-----------------Main Teasers Preview-----------------------*/

.teaser {

  background: #fff;

  .teaser-date {

    font-family: $font-bold;
    font-size: $font-h4;
    color: $highlite-color-4;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-bottom: 3px solid $light-text-color-2;

    > div {
      flex: 1;
      border-left: 2px solid $light-text-color-2;
      &:last-child {
        border: none;
      }
    }
  }

  .teaser_info {
    height: 190px;
    overflow: hidden;
    padding: 20px 25px;
  }
}