/*-----------------Main Teasers Preview-----------------------*/

.teaser {

  display: flex;
  background: #fff;
  margin-bottom: 35px;

  .teaser-image {
    flex: 0 0 385px;
  }

  .teaser-content {
    flex: 1;
  }

  .teaser-date {

    font-family: $font-bold;
    font-size: $font-h4;
    color: $highlite-color-2;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-bottom: 3px solid $light-text-color-2;

    > div {
      flex: 1;
      border-left: 2px solid $light-text-color-2;
      &:last-child {
        border: none;
      }
    }
  }

  .teaser-info {
    flex: 1;
    overflow: hidden;
    padding: 20px 25px;
    color: #000;
  }
}

.teaser-square-view > .view-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &:after {
    content: "";
    flex: 0 0 300px;
  }
  @include for-mobile-layout {
    justify-content: space-around;
  }
  .teaser-square-item {
    flex: 0 0 300px;
    background: #fff;
    margin-bottom: 20px;
    .teaser-square-image {
      display: block;
      overflow: hidden;
      position: relative;
      width: 300px;
      height: 300px;
      
      .default-image {
        background-image: url('../images/default-square.jpg');
      }
    }
    .teaser-square-info {
      display: block;
      margin: 12px 12px 25px; 
    }
    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: $highlite-color-3;
      }
    }
  }
}


.teaser-large, a.teaser-large {

  display: block;
  text-decoration: none;
  color: #fff;
  padding-bottom: 45px;
  margin-bottom: 45px;
  border-bottom: $bold-border;

  .teaser-large-image {
    display: block;
    height: 400px;
    overflow: hidden;
    position: relative;
    .default-image {
      background-image: url('../images/default-large.jpg');
    }
    .teaser-large-info {
      position: absolute;
      padding: 30px 35px;
      bottom: 0;
    }
  }

  .more-link {
    display: block;
    background: $highlite-color-3;
    text-align: center;
    font-family: $font-bold;
    font-size: rem(20px);
    line-height: 40px;
  }
}

/*-----------Filters------------*/

.views-exposed-form .views-exposed-widget {
  padding: 0 0 0 $form-item-padding;
  .form-submit {
    margin-top: 0;
  }

  input[type="submit"] {
    @include button($highlite-color-2, $highlite-color-3);
    &[name="op"] {
      @include button($highlite-color-5, $highlite-color-3);
    }
  }
}


