/* Layout */
$menu-height: 86px;
$header-height: 400px;
$side-padding: em(20px);

/* Background Colors */
$main-color: #ece9e3;
$secondary-color: #c0c1c2;

/* Fonts */
$font-primary: 'Miriam';
$font-bold: 'Miriam_Bold';

$font-base: rem(16px);
$font-small: rem(13px);

$font-h1: rem(43px);
$font-h2: rem(33px);
$font-h3: rem(26px);
$font-h4: rem(22px);
$font-h5: rem(20px);


/* Borders */
$main-border: 1px solid #c0c0c0;
$bold-border: 2px solid #c0c0c0;

/* Text Colors*/
$main-text-color: #545555;
$light-text-color: #a4a4a4;
$light-text-color-2: #eeebe6;
$secondary-text-color: #545555;
$highlite-color-1: #47206e;
$highlite-color-2: #ff6600;
$highlite-color-3: #0097d7;
$highlite-color-4: #40c389;

