/* Layout */
$menu-height: 86px;
$header-height: 500px;
$footer-height: 280px;
$side-padding: em(20px);
$container-padding: 'calc( (100% - 940px) / 2 )';
$form-item-height: 35px;
$form-item-padding: 10px;

/* Background Colors */
$main-color: #ece9e3;
$secondary-color: #c0c1c2;
$background-color-001: #6d6e71;
$background-color-002: #d8d8d8;

/* Fonts */
$font-primary: 'Miriam';
$font-bold: 'Miriam_Bold';

$font-base: rem(16px);
$font-small: rem(13px);

$font-h1: rem(43px);
$font-h2: rem(33px);
$font-h3: rem(26px);
$font-h4: rem(22px);
$font-h5: rem(20px);


/* Borders */
$main-border: 1px solid #c0c0c0;
$bold-border: 2px solid #c0c0c0;

/* Text Colors*/
$main-text-color: #545555;
$light-text-color: #a4a4a4;
$light-text-color-2: #eeebe6;
$secondary-text-color: #545555;
$highlite-color-1: #47206e;
$highlite-color-2: #ff6600;
$highlite-color-3: #0097d7;
$highlite-color-4: #40c389;
$highlite-color-5: #474747;

/* Transitions */

$slow-transition: 0.7s;
$medium-transition: 0.5s;
$fast-transition: 0.3s;

