// :root {
//   /* Layout */
// //   --container-width: $container-width;
//   --inner-container-width: 900px;
//   --header-height: 125px;
//   --side-padding: rem(20px);
//   /* Fonts */
//   --primary-font: Open Sans;
//   --hebrew-font: Alef;
//   --number-font: PauzaFOT-Book;
//   --font-small: rem(12px); 
//   --line-height-small: rem(18px); 
//   /* Colors */
//   --main-color: #000;
//   --light-color: #4B4B4B;
//   --active-color: #FF9800;

//   --curr-text-color: #ec1c24;
//   --curr-bg-color: #ec1c24;
// }

/* Layout */
$header-height: 125px;
$side-padding: em(20px);
/* Fonts */
$primary-font: Open Sans;
$hebrew-font: Alef;
$number-font: PauzaFOT-Book;
$font-small: rem(12px); 
$line-height-small: rem(18px); 
/* Colors */
$main-color: #000;
$light-color: #4B4B4B;
$active-color: #FF9800;

$curr-text-color: #ec1c24;
$curr-bg-color: #ec1c24;

/* Buttons */

$round-button-size: 98px;

