@import 'functions';
@import 'vars';

/*------------Admin Menu RTL Fix---------*/

.admin-menu-processed .dropdown li ul {
  right: auto !important;;
}
.admin-menu-processed .dropdown li li.expandable ul {
    margin: -20px 160px 0 0 !important;
}

/*--------------------Global---------------------*/

/*--------------------Layout------------------*/

.home-contact .content .content-home-text {
            padding: 40px #{$container-padding} 40px 0;
}

.sidebar-layout .region-content-inner .sidebar {
    margin: 0 0 0 30px;
}

.side-menu .menu-block-wrapper li:not(.expanded) a.active {
    background-image: url(../images/arrow-left.svg);
    background-position: left center;
}

//Footer

footer.section-footer .footer-small .block-inner {
    padding: 0 0 0 40px;
}

footer.section-footer .footer-menu .content > ul.menu li:not(:last-child) {
    padding: 0 0 0 15px;
}

/*--------------------Calendar------------------*/


.fc-header {
  direction: rtl;
}

.fc-header-left {
    text-align: right;
}

.fc-header-right {
    text-align: left;
}

.mini-calendar .fc-header .fc-button .fc-text-arrow {
    transform: rotate(45deg);
}

.mini-calendar .fc-header .fc-button.fc-button-next .fc-text-arrow {
    transform: rotate(225deg);
}