/* CSS for mailing html mail through MIME Mail */


@font-face {
 font-family: 'Alef';
 src: url('../fonts/Alef-regular.eot');
 src: url('../fonts/Alef-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Alef-regular.woff') format('woff'), url('../fonts/Alef-regular.ttf') format('truetype'), url('../fonts/Alef-regular.svg#alefregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
body {
	background-color: #ededed;
	font-family: Alef, Arial, Helvetica, sans-serif;
	direction: rtl;
}
body img {
	float: right;
	margin: 5px 0 5px 10px;
}
#main {
	width: 440px;
	margin: 0 auto;
	padding: 25px 80px;
	background-color: #FFF;
}
.newsletter-hebrew {
	direction: rtl;
}
.newsletter-english {
	direction: ltr;
}

.newsletter-english img {
	float: left;
	margin: 5px 10px 5px 0;
}
.mail-header {
}
